/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
/* line 4, ../sass/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 5, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 6, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 7, ../sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 8, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 9, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 10, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 11, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 12, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 13, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 14, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 15, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 17, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 20, ../sass/_reset.scss */
*, *:after, *:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 95% / 1.3 sans-serif;
  font-family: 'Questrial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

/* line 14, ../sass/_typography.scss */
h1 {
  font-size: 3em;
}

/* line 15, ../sass/_typography.scss */
h2 {
  font-size: 2.7em;
}

/* line 16, ../sass/_typography.scss */
h3 {
  font-size: 2.4em;
}

/* line 17, ../sass/_typography.scss */
h4 {
  font-size: 2em;
}

/* line 18, ../sass/_typography.scss */
h5 {
  font-size: 1.5em;
}

/* line 19, ../sass/_typography.scss */
h6 {
  font-size: 1.2em;
}

/* line 23, ../sass/_typography.scss */
ul li {
  margin-left: 1em;
}
/* line 26, ../sass/_typography.scss */
ul ul {
  margin-left: 1.5em;
}

/*
SUPER SLICK TRANSFORMS
*/
/* line 8, ../sass/_transforms.scss */
.fly-in-up, .fly-in-right, .fly-in-left {
  -webkit-transition: opacity 300ms 200ms ease;
  -moz-transition: opacity 300ms 200ms ease;
  -ms-transition: opacity 300ms 200ms ease;
  -o-transition: opacity 300ms 200ms ease;
  transition: opacity 300ms 200ms ease;
  -webkit-animation-fill-mode: forwards !important;
  -moz-animation-fill-mode: forwards !important;
  -o-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important;
}

/* line 20, ../sass/_transforms.scss */
.fly-in-down {
  -webkit-animation: flyindown 1000ms ease;
  -moz-animation: flyindown 1000ms ease;
  -ms-animation: flyindown 1000ms ease;
  -o-animation: flyindown 1000ms ease;
  animation: flyindown 1000ms ease;
}

/* line 27, ../sass/_transforms.scss */
.fly-in-up {
  opacity: 0.85;
  -webkit-animation: flyinup 1000ms ease;
  -moz-animation: flyinup 1000ms ease;
  -o-animation: flyinup 1000ms ease;
  animation: flyinup 1000ms ease;
}

/* line 35, ../sass/_transforms.scss */
.fly-in-right {
  opacity: 0 0.85;
  -webkit-animation: flyinright 1000ms ease;
  -moz-animation: flyinright 1000ms ease;
  -o-animation: flyinright 1000ms ease;
  animation: flyinright 1000ms ease;
}

/* line 43, ../sass/_transforms.scss */
.fly-in-left {
  opacity: 0.85;
  -webkit-animation: flyinleft 1000ms ease;
  -moz-animation: flyinleft 1000ms ease;
  -o-animation: flyinleft 1000ms ease;
  animation: flyinleft 1000ms ease;
}

/*flyindown*/
@-webkit-keyframes flyindown {
  /* line 58, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(0, 1em);
  }

  /* line 59, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyindown {
  /* line 62, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(0, 1em);
  }

  /* line 63, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyindown {
  /* line 66, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(0, 1em);
  }

  /* line 67, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyindown {
  /* line 70, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(0, 1em);
  }

  /* line 71, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyindown {
  /* line 74, ../sass/_transforms.scss */
  0% {
    transform: translate(0, 1em);
  }

  /* line 75, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*flyinup*/
@-webkit-keyframes flyinup {
  /* line 80, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(0, -1em);
  }

  /* line 81, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyinup {
  /* line 84, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(0, -1em);
  }

  /* line 85, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyinup {
  /* line 88, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(0, -1em);
  }

  /* line 89, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyinup {
  /* line 92, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(0, -1em);
  }

  /* line 93, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyinup {
  /* line 96, ../sass/_transforms.scss */
  0% {
    transform: translate(0, -1em);
  }

  /* line 97, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*flyinright*/
@-webkit-keyframes flyinright {
  /* line 102, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(-1em, 0);
  }

  /* line 103, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyinright {
  /* line 106, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(-1em, 0);
  }

  /* line 107, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyinright {
  /* line 110, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(-1em, 0);
  }

  /* line 112, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyinright {
  /* line 115, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(-1em, 0);
  }

  /* line 116, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyinright {
  /* line 119, ../sass/_transforms.scss */
  0% {
    transform: translate(-1em, 0);
  }

  /* line 120, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*flyinleft*/
@-webkit-keyframes flyinleft {
  /* line 125, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(1em, 0);
  }

  /* line 126, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyinleft {
  /* line 129, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(1em, 0);
  }

  /* line 130, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyinleft {
  /* line 133, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(1em, 0);
  }

  /* line 135, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyinleft {
  /* line 138, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(1em, 0);
  }

  /* line 139, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyinleft {
  /* line 142, ../sass/_transforms.scss */
  0% {
    transform: translate(1em, 0);
  }

  /* line 143, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* line 1, ../sass/_welcome.scss */
.welcome-mast {
  color: white;
  background: #ffbb00;
  color: black;
  text-align: center;
  position: relative;
}

/* line 9, ../sass/_welcome.scss */
.welcome-mast-cont {
  padding: 5em;
  background: url("/images/opentalk_bg_opaque.png");
  background: url("/images/pattern-white.png");
  -webkit-animation: welcome-mast-anim 10s infinite linear;
  -moz-animation: welcome-mast-anim 10s infinite linear;
  -o-animation: welcome-mast-anim 10s infinite linear;
  animation: welcome-mast-anim 10s infinite linear;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 23, ../sass/_welcome.scss */
.welcome-mast-cont h1 {
  color: #222;
  text-shadow: 5px 5px 20px 50px white;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 30, ../sass/_welcome.scss */
#roomid {
  position: relative;
  padding: 1em;
  text-align: center;
  width: 8em;
  outline: none;
  border: 0px;
  box-shadow: none;
  font-size: 1.1rem;
  font-family: 'Questrial', sans-serif;
  margin-top: -.3em;
}

/* line 47, ../sass/_welcome.scss */
.blanket, .blanket-white {
  position: relative;
  display: table;
  max-width: 32em;
  padding: 1.5em;
  box-shadow: 3px 3px 25px lightgrey;
  margin: 4em auto 4em;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: url("/images/pattern-black.png");
}
@media all and (max-width: 32em) {
  /* line 47, ../sass/_welcome.scss */
  .blanket, .blanket-white {
    margin: 2.5em 1em;
  }
}

/* line 67, ../sass/_welcome.scss */
.medium-text {
  font-size: 1.3em;
}

/* line 70, ../sass/_welcome.scss */
.vam {
  vertical-align: middle;
  display: table-cell;
}

@-webkit-keyframes welcome-mast-anim {
  /* line 78, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 79, ../sass/_welcome.scss */
  to {
    background-position: 0 -312px;
  }
}

@-moz-keyframes welcome-mast-anim {
  /* line 82, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 83, ../sass/_welcome.scss */
  to {
    background-position: 0 -312px;
  }
}

@-ms-keyframes welcome-mast-anim {
  /* line 86, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 87, ../sass/_welcome.scss */
  to {
    background-position: 0 -312px;
  }
}

@-o-keyframes welcome-mast-anim {
  /* line 90, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 91, ../sass/_welcome.scss */
  to {
    background-position: 0 -312px;
  }
}

@keyframes welcome-mast-anim {
  /* line 94, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 95, ../sass/_welcome.scss */
  to {
    background-position: 0 -312px;
  }
}

/* line 1, ../sass/_room.scss */
.main {
  z-index: 126;
  margin: 6em auto 0.5em;
  max-width: 31em;
  padding: .66em;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
@media all and (max-width: 32em) {
  /* line 1, ../sass/_room.scss */
  .main {
    width: 93%;
    margin-right: .5em;
  }
}
/* line 27, ../sass/_room.scss */
.main.under-modal {
  opacity: 0.3;
}

/* line 44, ../sass/_room.scss */
#nickname {
  position: relative;
  padding: 1em;
  text-align: center;
  width: 8em;
  outline: none;
  border: 0px;
  box-shadow: none;
  font-size: 1.1rem;
  font-family: 'Questrial', sans-serif;
  margin-top: -.3em;
}

/* line 63, ../sass/_room.scss */
.login-form {
  text-align: center;
  margin-top: 0;
}

/* line 69, ../sass/_room.scss */
.loading {
  display: block;
  width: 100%;
  font-size: 1.3em;
  background: #D8D8D8;
  color: #848484;
  text-align: center;
  border-radius: .3em;
  opacity: 0;
  -webkit-transition: all 333ms linear;
  -moz-transition: all 333ms linear;
  -ms-transition: all 333ms linear;
  -o-transition: all 333ms linear;
  transition: all 333ms linear;
}
/* line 85, ../sass/_room.scss */
.loading.show-loading {
  height: auto;
  padding: 1em;
  opacity: 1;
  margin-bottom: 2em;
}

/* line 1, ../sass/_sidebar.scss */
.fixed-sidebar {
  position: fixed;
  width: 15em;
  top: 0;
  bottom: 0;
  z-index: 99;
  /*padding top 5em to  push it away from .toggle-*/
  padding: 5em 1em 4em;
  margin-bottom: -2em;
  overflow-y: auto;
  background: url("/images/pattern-black-1.png");
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /*prevent flicker*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: -0.3em 0 .4em lightgrey inset;
}
@media all and (max-width: 62em) {
  /* line 1, ../sass/_sidebar.scss */
  .fixed-sidebar {
    left: -16em !important;
    padding: 5em 2em 4em;
  }
}
/* line 37, ../sass/_sidebar.scss */
.fixed-sidebar.show {
  z-index: 900;
  opacity: 1;
  box-shadow: 1em 0 1em lightgrey;
}
/* line 48, ../sass/_sidebar.scss */
.fixed-sidebar:hover {
  opacity: 1;
}
/* line 50, ../sass/_sidebar.scss */
.fixed-sidebar:hover .online-users-count {
  opacity: 1 !important;
}

@media all and (max-width: 62em) {
  /* line 57, ../sass/_sidebar.scss */
  .csstransforms .fixed-sidebar.show {
    -webkit-transform: translate3d(16em, 0, 0);
    -moz-transform: translate3d(16em, 0, 0);
    -o-transform: translate3d(16em, 0, 0);
    -ms-transform: translate3d(16em, 0, 0);
    transform: translate3d(16em, 0, 0);
  }
}

@media all and (max-width: 62em) {
  /* line 69, ../sass/_sidebar.scss */
  .no-csstransforms .fixed-sidebar.show {
    left: 0 !important;
  }
}

/* line 75, ../sass/_sidebar.scss */
.userinfo {
  text-align: center;
}
/* line 77, ../sass/_sidebar.scss */
.userinfo .user-avatar {
  height: 3em;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}
/* line 84, ../sass/_sidebar.scss */
.userinfo .user-username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

/* line 92, ../sass/_sidebar.scss */
#logout, #toggleRealtime {
  float: left;
  margin-left: 0.8em;
  margin-top: 0.6em;
  text-decoration: none;
  border: 1px solid darkgrey;
}

/* line 108, ../sass/_sidebar.scss */
.online-users {
  margin-top: 1.5em;
  text-align: left;
  list-style-type: none;
}

/* line 113, ../sass/_sidebar.scss */
.online-user {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #444;
}

/* line 121, ../sass/_sidebar.scss */
.roomid {
  margin-top: 3em;
  text-align: center;
  padding: .5em;
  color: #805e00;
}

/* line 127, ../sass/_sidebar.scss */
.online-users, .roomid {
  float: right;
  width: 100%;
}

/* line 132, ../sass/_sidebar.scss */
.online-users-count {
  color: #444444;
  font-weight: bold;
  padding: .5em .8em .5em;
  background: #ffbb00;
  display: inline-block;
  border-radius: 50%;
  position: fixed;
  left: 0em;
  top: 4.9em;
  z-index: 998;
  border: 0.1em solid #cc9600;
  /*sadly no transition because it would be 
  	positioned *again* when a heartbeat happens,
  	will be fixed, soon
  */
  /*
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  */
}
@media all and (max-width: 62em) {
  /* line 132, ../sass/_sidebar.scss */
  .online-users-count {
    left: 0 !important;
    opacity: 1;
    cursor: pointer;
  }
}

/* line 172, ../sass/_sidebar.scss */
.toggle-sidebar {
  display: none;
  cursor: pointer;
  left: 0;
  top: 1.5em;
  position: fixed;
  height: 3.33em;
  width: 3.33em;
  background: #ffbb00;
  z-index: 1000;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 0.1em solid #cc9600;
}
@media all and (max-width: 62em) {
  /* line 172, ../sass/_sidebar.scss */
  .toggle-sidebar {
    display: block;
    left: 0 !important;
  }
}
/* line 197, ../sass/_sidebar.scss */
.toggle-sidebar .icon-arrow {
  width: 1.665em;
  height: 1.665em;
  margin: 0.7325em 0 0 0.7325em;
}

/* line 206, ../sass/_sidebar.scss */
.status-badge {
  height: .5em;
  width: .5em;
  display: inline-block;
  margin: .4em .5em 0 0;
  border-radius: 70%;
  float: left;
  opacity: .5;
}
/* line 217, ../sass/_sidebar.scss */
.status-badge.online, .status-badge.on {
  background: #29A100;
}
/* line 220, ../sass/_sidebar.scss */
.status-badge.idle, .status-badge.off {
  background: #FF8200;
}

/* line 226, ../sass/_sidebar.scss */
.logo {
  position: absolute;
  top: 1.5em;
  right: 1em;
  height: 3.33em;
  width: 3.33em;
  border-radius: 50%;
  padding: 0.8325em;
  background: #ffbb00;
  display: inline-block;
  border: 0.1em solid #cc9600;
}

/* line 1, ../sass/_messages.scss */
.messages {
  list-style-type: none;
  max-width: 31em;
  border-radius: .5em;
  margin-bottom: 2em;
}

/* line 12, ../sass/_messages.scss */
.message {
  padding: 0em 0.7em;
  overflow: visible !important;
  background: #fefefe;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  position: relative;
}

/* line 20, ../sass/_messages.scss */
.avatar {
  height: 1.8em;
  width: 1.8em;
  margin-left: -1.5em;
  vertical-align: top;
  display: inline-block;
  background: none;
  background: transparent;
  background-size: 100% !important;
  border-radius: 50%;
  position: absolute;
  left: 0.5em;
  top: -0.9em;
}

/* line 40, ../sass/_messages.scss */
.avatar-border {
  border: 1px solid darkgrey;
}

/* line 43, ../sass/_messages.scss */
.text {
  display: inline-block;
  vertical-align: middle;
  margin: .2em .3em;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 57, ../sass/_messages.scss */
.username {
  display: none;
}

/* line 61, ../sass/_messages.scss */
.message-image-wrapper {
  position: relative;
  display: inline-block;
}
/* line 67, ../sass/_messages.scss */
.message-image-wrapper .open-in-new-tab {
  position: absolute;
  top: .2em;
  right: -1em;
  height: 1em;
  width: 1em;
  background: url("/images/link.png") no-repeat;
  background-size: 100%;
}

/* line 77, ../sass/_messages.scss */
.message-image {
  display: inline-block;
  max-height: 5em;
  margin-top: .2em;
  margin-top: .2em;
}
/* line 83, ../sass/_messages.scss */
.message-image.exp {
  max-width: 32em;
  max-height: inherit;
  width: 100%;
}

/* line 90, ../sass/_messages.scss */
.diffUser {
  margin-top: .8em;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  border-top: 1px solid lightgrey;
}

/* line 96, ../sass/_messages.scss */
.lastOfUser {
  border-bottom: 1px solid lightgrey;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
}

/* line 103, ../sass/_messages.scss */
.cssanimations.csstransitions .realtime {
  -webkit-animation: realtime-anim 10s ease-out;
  -moz-animation: realtime-anim 10s ease-out;
  -o-animation: realtime-anim 10s ease-out;
  animation: realtime-anim 10s ease-out;
}

/* line 121, ../sass/_messages.scss */
#li-message {
  width: 100%;
}

/* line 124, ../sass/_messages.scss */
#mymessage {
  resize: none !important;
  width: 100%;
  font-size: 1em;
  padding: 1em;
  margin-top: 1em;
  min-height: 2em;
  outline: none;
  border: none;
  background: none;
  border-left: 2px solid #cc9600;
  font-family: 'Questrial', sans-serif;
  overflow-y: hidden;
}

@-webkit-keyframes realtime-anim {
  /* line 154, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 155, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@-moz-keyframes realtime-anim {
  /* line 158, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 159, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@-ms-keyframes realtime-anim {
  /* line 162, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 163, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@-o-keyframes realtime-anim {
  /* line 166, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 167, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@keyframes realtime-anim {
  /* line 170, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 171, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

/* line 1, ../sass/_buttons.scss */
.button {
  display: inline-block;
  font-size: .75em;
  font-weight: bold;
  line-height: 1;
  margin-top: 0;
  padding: .8em 1em;
  border-radius: 0.5em;
}

/* line 10, ../sass/_buttons.scss */
.silver {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #f7f7f7));
  background: -webkit-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: -moz-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: -o-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 2px 0 #fff;
  box-shadow: inset 0 2px 0 #fff;
  color: #666;
}
/* line 22, ../sass/_buttons.scss */
.silver:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e3e3e3), color-stop(1, #efefef));
  background: -webkit-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: -moz-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: -o-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: -ms-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  color: #444;
}

/* line 1, ../sass/_fields.scss */
input[type='text'] {
  padding: .8em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 10, ../sass/_fields.scss */
input[type='text'].change {
  border: 2px solid transparent;
  background: none;
  color: white;
}
/* line 15, ../sass/_fields.scss */
input[type='text'].change:focus {
  color: black;
  background: white;
}

/* line 1, ../sass/_icons.scss */
[class^='icon'] {
  display: inline-block;
  height: 1em;
  width: 1em;
}

/* line 6, ../sass/_icons.scss */
.icon-arrow {
  background: url("/images/arrow.png") no-repeat;
  background-size: 100%;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

/* line 21, ../sass/_icons.scss */
.icon-logout {
  background: url("/images/logout.png") no-repeat;
  background-size: 100%;
  height: 1.3em;
  width: 1.3em;
  margin-top: -.325em;
  margin-bottom: -.325em;
  margin-left: .325em;
}

/* line 31, ../sass/_icons.scss */
.icon-realtime {
  background: url("/images/realtime.png") no-repeat;
  background-size: 100%;
  height: 1.3em;
  width: 1.3em;
  margin-top: -.325em;
  margin-bottom: -.325em;
}

/* line 41, ../sass/_icons.scss */
.toggle-sidebar.left .icon-arrow {
  -webkit-transform: rotateZ(-180deg) !important;
  -moz-transform: rotateZ(-180deg) !important;
  -o-transform: rotateZ(-180deg) !important;
  -ms-transform: rotateZ(-180deg) !important;
  transform: rotateZ(-180deg) !important;
}

/* line 49, ../sass/_icons.scss */
.toggle-sidebar:hover .icon-arrow {
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 57, ../sass/_icons.scss */
.icon-twitter, .icon-facebook, .icon-github, .icon-google {
  background-size: 100%;
  width: 1em;
  height: 1em;
}

/* line 62, ../sass/_icons.scss */
.icon-twitter {
  background: url("/images/social/twitter.png") no-repeat;
}

/* line 65, ../sass/_icons.scss */
.icon-facebook {
  background: url("/images/social/facebook.png") no-repeat;
}

/* line 68, ../sass/_icons.scss */
.icon-github {
  background: url("/images/social/github.png") no-repeat;
}

/* line 71, ../sass/_icons.scss */
.icon-google {
  background: url("/images/social/google.png") no-repeat;
}

/* line 1, ../sass/_general.scss */
body {
  background: #F0F0F0;
}

/* line 5, ../sass/_general.scss */
input {
  background: none;
}

/* line 9, ../sass/_general.scss */
html {
  overflow-x: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 13, ../sass/_general.scss */
  ::-webkit-scrollbar {
    width: .7em;
    background: #fff;
  }

  /* line 14, ../sass/_general.scss */
  ::-webkit-scrollbar-track {
    background-color: #999;
  }

  /* line 15, ../sass/_general.scss */
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* line 17, ../sass/_general.scss */
::selection {
  background: #ffbb00;
  color: inherit;
}

/* line 18, ../sass/_general.scss */
::-moz-selection {
  background: #ffbb00;
  color: inherit;
}

/* line 21, ../sass/_general.scss */
.debug {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  max-width: 15em;
}

/*
Tipr drop 1.0
Copyright (c) 2013 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
*/
/* line 11, ../sass/_tipr.scss */
.tipr_content {
  font: 13px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  color: #333;
  padding: .3em 1em;
  font-weight: bold;
  border-radius: .5em;
}

/* line 21, ../sass/_tipr.scss */
.tipr_container_bottom {
  display: none;
  position: absolute;
  margin-top: 13px;
  z-index: 1000;
}

/* line 28, ../sass/_tipr.scss */
.tipr_container_top {
  display: none;
  position: absolute;
  top: -3em;
  z-index: 1000;
  left: -.5em;
  margin-left: 0 !important;
  border-radius: .5em;
}

/* line 38, ../sass/_tipr.scss */
.tipr_point_top, .tipr_point_bottom {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: .5em;
}

/* line 45, ../sass/_tipr.scss */
.tipr_point_top:after, .tipr_point_top:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  top: 100%;
  content: "";
  height: 0;
  width: 0;
}

/* line 55, ../sass/_tipr.scss */
.tipr_point_top:after {
  border-top-color: #fff;
  border-width: .5em;
  left: 1.1em;
  left: 1.1em;
  margin-left: -.5em;
}

/* line 65, ../sass/_tipr.scss */
.tipr_point_top:before {
  border-top-color: #dcdcdc;
  border-width: .5em;
  left: 1.1em;
  margin-left: -.5em;
}

/* line 72, ../sass/_tipr.scss */
.tipr_point_bottom:after, .tipr_point_bottom:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  bottom: 100%;
  content: "";
  height: 0;
  width: 0;
}

/* line 82, ../sass/_tipr.scss */
.tipr_point_bottom:after {
  border-bottom-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

/* line 89, ../sass/_tipr.scss */
.tipr_point_bottom:before {
  border-bottom-color: #dcdcdc;
  border-width: .5em;
  left: 50%;
  margin-left: -.5em;
}

/* line 1, ../sass/_loginButtons.scss */
.serviceLogin {
  display: inline-block;
  padding: .5em;
  margin: .5em;
  width: 4em;
  cursor: pointer;
}
