.body-half{
	position:fixed;
	top:0;bottom:0;
	left:0;
	right:50%;
	z-index: 0;
	background: url('/images/opentalk_bg.png');
	background:url('/images/pattern-black.png');

	background-size: 800px;
}

body > * {
	position:relative;
}
body{
	background:#FAFAFA;
}

input{
	background:none;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	::-webkit-scrollbar{width:.777em;} 
	::-webkit-scrollbar-track{background-color: #999;} 
	::-webkit-scrollbar-thumb{background:#666;}
}
::selection{background:$color-main;color:inherit;}
::-moz-selection{background:$color-main;color:inherit;}