.body-half{
	position:fixed;
	top:0;bottom:0;
	left:0;
	right:50%;
	z-index: 0;
	background: url('/images/opentalk_bg.png');
	background:url('/images/pattern-black.png');

	background-size: 800px;
}

.main{
	z-index: 100;
	@extends .limit;
}




#online-users{
	max-width: 10em;
	
	min-width: 3em;

	height:100%;
	
	padding: .66em;
	background:#F9F9F9;
	
	float:left;

	list-style-type: none;
	
}
	.usersCount{
		text-align: center;
	}
	.online{
		//margin-left:15px;
		padding:1px;

		text-overflow: ellipsis;
		overflow: hidden;
	}