[class^='icon']{
	display:inline-block;
	height:1em;
	width:1em;
}
.icon-arrow{
	background:url('/images/arrow.png') no-repeat;
	background-size:100%;

	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.toggle-sidebar.left .icon-arrow{
	-webkit-transform:rotateZ(-180deg);
	-moz-transform:rotateZ(-180deg);
	-o-transform:rotateZ(-180deg);
	-ms-transform:rotateZ(-180deg);
	transform:rotateZ(-180deg);
}