[class^='icon']{
	display:inline-block;
	height:1em;
	width:1em;
}
.icon-arrow{
	height:1.5em;
	width:1.5em;
	background:url('/images/arrow.png') no-repeat;
	background-size:100%;
	margin: .75em 0 0 .75em;

	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.toggle-sidebar.right .icon-arrow{
	-webkit-transform:rotateZ(180deg);
	-moz-transform:rotateZ(180deg);
	-o-transform:rotateZ(180deg);
	-ms-transform:rotateZ(180deg);
	transform:rotateZ(180deg);
}