.serviceLogin{
	display: inline-block;
	padding:1em;
	margin:.2em;
	width: 4em;
}
	.twitter{background: #0092CB;}
	.facebook{background: #0092CB;}
	.google{background: #0092CB;}
	.github{background: #0092CB;}
