.serviceLogin{
	display: inline-block;
	padding:.5em;
	margin:.5em;
	width: 4em;

	cursor: pointer;
}
	// .twitter{background: #0092CB;}
	// .facebook{background: #0092CB;}
	// .google{background: #0092CB;}
	// .github{background: #0092CB;}
