.messages{
	list-style-type: none;
	//padding: 0.5em 0em 0em;
	max-width: $limit - 1em;

	background: rgba(255,255,255,.6);
	box-shadow: 3px 3px 25px lightgrey;

}
	.message{
		padding: 0.2em 0.5em;
		border-bottom:1px dotted #EFEFEF;
	}
		.useravatar{
			height:1.75em;
			width: 1.75em;
			margin-top:.2em;
			margin-bottom:.2em;
			margin-left:.5em;
			border-radius: 35%;
			//border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;

			vertical-align: top;
		}
		.username,.text{
			display: inline-block;
			vertical-align: middle;
			margin-left:.5em;
			margin-right:.5em;
			margin-top:.5em;
			-ms-word-break: break-word;
			word-break: break-word;
		}

	.realtime{
		background:lighten($color-main,45%);
	}
	

#li-message{
	width:100%;
}
#mymessage{
	resize: none;
	margin-top: 30px;
	width: 100%;
	padding: 1em;
	font-size: 1em;

	outline:none;
	border:none;
	//border-left:2px solid #C8C8C8;
	//border-right:2px solid #C8C8C8;
	background:none;

	border-left:2px solid #C8C8C8;
	font-family: 'Questrial', sans-serif;
	
	overflow-y:auto;

	-webkit-transition: all $transition-duration ease-out;
	-moz-transition: all $transition-duration ease-out;
	-ms-transition: all $transition-duration ease-out;
	-o-transition: all $transition-duration ease-out;
	transition: all $transition-duration ease-out;

	&:focus{
		//border-top:1px solid #C8C8C8;
		//border-bottom:1px solid #C8C8C8;
	}
}