.messages{
	list-style-type: none;
	//@extend .fly-in-up;
}
	.message{
		padding: 0.5em;
	}

#mymessage{
	margin-top: 30px;
	width: 100%;
	padding: 1.1em;

	-webkit-transition: all $transition-duration ease-out;
	-moz-transition: all $transition-duration ease-out;
	-ms-transition: all $transition-duration ease-out;
	-o-transition: all $transition-duration ease-out;
	transition: all $transition-duration ease-out;
}

input[type='text'].input-light{
	border:2px solid rgba(30,30,30,.1);
	border-bottom:2px solid rgba(30,30,30,.1);
	box-shadow:none;
	
	&:focus{
		border:2px solid rgba(30,30,30,.04);
		border-bottom:2px solid rgba(30,30,30,.04);
	}
}