.messages{
	list-style-type: none;
	//padding: 0.5em 0em 0em;
	max-width: $limit - 1em;

	// background: rgba(255,255,255,.6);
	// box-shadow: 3px 3px 25px $color-border;

	border-radius: .5em;
	// margin-bottom: 2em;
}
	.message{
		padding: 0em 0.7em;
		overflow: visible!important;//because jQuery adds overflow:hidden when hiding stuff
		background:#fefefe;
		border-left:1px solid $color-border;
		border-right:1px solid $color-border;
		position:relative;
	}

		.new-message{
			@extend .fly-in-down;
		}
		.avatar{
			height:1.8em;
			width: 1.8em;
			// margin-top:.2em;
			// margin-bottom:.2em;
			margin-left: -1.5em;
			// border-top-right-radius: 0px;
			// border-bottom-right-radius: 0px;

			vertical-align: top;
			display: inline-block;
			background: none;
			background: transparent;
			background-size:100%!important;
			border-radius: 50%;

			position: absolute;
			left: 0.5em;
			top: -0.9em;
		}
		.avatar-border{
			border:1px solid darkgrey;
		}
		.message .text, .message p{
			vertical-align: middle;
			margin: 0em .3em;
			padding:.1em;
			// margin-top:.2em;
			// margin-bottom:.2em;
			-ms-word-break: break-all;
			word-break: break-all;
			// Non standard for webkit
			word-break: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
		}
		.username{
			display:none;
			position:absolute;
		}
		.avatar:hover ~ .username{
			// display:block;
		}

		.message-image-wrapper{
			position: relative;
			display: inline-block;
			// float:left;
			// clear:left;

			.open-in-new-tab{
				position: absolute;
				top:.2em;
				right:-1em;
				height:1em;
				width:1em;
				background: url('/images/link.png') no-repeat;
				background-size:100%;
			}
		}
		.message-image{
			display: inline-block;
			max-height: 5em;
			margin-top: .2em;
			margin-top: .2em;

			&.exp{
				max-width: $limit;
				max-height: inherit;
				width: 100%;
			}
		}
		
		.diffUser{
			margin-top:.8em;
			border-top-right-radius: .5em;
			border-top-left-radius: .5em;
			border-top:1px solid $color-border;
		}
		.lastOfUser{
			border-bottom:1px solid $color-border;
			border-bottom-right-radius: .5em;
			border-bottom-left-radius: .5em;
		}
		
		$realtime-duration: 10s;
		.cssanimations.csstransitions .slick-realtime-shit{
			-webkit-animation: realtime-anim $realtime-duration ease-out;
			-moz-animation: realtime-anim $realtime-duration ease-out;
			-o-animation: realtime-anim $realtime-duration ease-out;
			animation: realtime-anim $realtime-duration ease-out;			
		}
		
#li-message{
	width:100%;
}
#mymessage{
	resize: none!important;
	width: 100%;
	font-size: 1em;
	padding: 1em;
	margin-top:1em;

	min-height:2em;
	outline:none;
	border:none;
	//border-left:2px solid #C8C8C8;
	//border-right:2px solid #C8C8C8;
	background:none;

	border-left:2px solid darken($color-main,10%);
	font-family: 'Questrial', sans-serif;
	
	overflow-y:hidden;

	

	&:focus{
		//border-top:1px solid #C8C8C8;
		//border-bottom:1px solid #C8C8C8;
	}
}

@-webkit-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@-moz-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@-ms-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@-o-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}