.main{
	z-index: 126;

	margin: 5em auto 0.5em;
	max-width: $limit;
	width:100%;
	
	padding: .66em;
	

	background: rgba(255,255,255,.8);

	border-top-right-radius:0px;
	border-top-left-radius:0px;
	
	@media all and(max-width:$limit){
		width: 100%;
	}

	-webkit-transition: all 333ms ease-in-out;
	-moz-transition: all 333ms ease-in-out;
	-ms-transition: all 333ms ease-in-out;
	-o-transition: all 333ms ease-in-out;
	transition: all 333ms ease-in-out;

	&.under-modal{
		$blur:3px;
		-webkit-filter: blur($blur);
	    -moz-filter: blur($blur);
	    -o-filter: blur($blur);
	    -ms-filter: blur($blur);
	    filter: blur($blur);
	    
	    opacity: 0.3;
	}
}

#nickname{
	position: relative;
	padding: 1em;
	//font-size: 1.3em;
	//margin: 0 1em;
	text-align: center;
	width:8em;

	outline:none;
	border:0px;
	box-shadow: none;

	background:none;

	font-size: 1.1rem;
	font-family: 'Questrial', sans-serif;
	margin-top: -.3em;
}