.main{
	z-index: 126;

	margin: 5em auto 0.5em;
	max-width: $limit;
	width:100%;
	
	padding: .66em;
	

	background: rgba(255,255,255,.8);

	border-top-right-radius:0px;
	border-top-left-radius:0px;
	
	@media all and(max-width:$limit){
		width: 100%;
	}

	&.blur{
		/*
		-webkit-filter: blur(3px);
	    -moz-filter: blur(3px);
	    -o-filter: blur(3px);
	    -ms-filter: blur(3px);
	    filter: blur(3px);
	    */
	    opacity: 0.5;
	}
}

#nickname{
	position: relative;
	padding: 1em;
	//font-size: 1.3em;
	//margin: 0 1em;
	text-align: center;
	width:8em;

	outline:none;
	border:0px;
	box-shadow: none;

	font-size: 1.1rem;
	font-family: 'Questrial', sans-serif;
	margin-top: -.3em;
}