.fixed-sidebar{
	position:fixed;
	
	width:12em;

	top:0;bottom:0;
	//left:-100%;
	background:grey;
	z-index: 99;
}
.main{
	z-index: 126;
	//margin-left:$limit*2/5;
	margin: auto;
	width: $limit;
	padding: 1em;
	background:lightgrey;
}

#online-users{
	padding: .66em;
	
	list-style-type: none;
}
	.usersCount{
		text-align: center;
	}
	.online{
		//margin-left:15px;
		padding:1px;

		text-overflow: ellipsis;
		overflow: hidden;
	}