$limit:32em;
$limit-extend:40em;

$sidebar-width:12em;

$color-main:lighten(#2980b9,10%);

$color-main:#004A7A;
$color-main:#FFCC00;
$color-main:#ffc801;
$color-main:#FFBB00;


$color-secondary: #f1c40f;

$transition-duration:.25s;

$toggle-size:3.33em;