/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
/* line 4, ../sass/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 5, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 6, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 7, ../sass/_reset.scss */
nav ul {
  list-style: none;
}

/* line 8, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 9, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 10, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 11, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 12, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 13, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 14, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 15, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 16, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 17, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 20, ../sass/_reset.scss */
*, *:after, *:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 95% / 1.3 sans-serif;
  font-family: 'Questrial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

/* line 14, ../sass/_typography.scss */
h1 {
  font-size: 3em;
}

/* line 15, ../sass/_typography.scss */
h2 {
  font-size: 2.7em;
}

/* line 16, ../sass/_typography.scss */
h3 {
  font-size: 2.4em;
}

/* line 17, ../sass/_typography.scss */
h4 {
  font-size: 2em;
}

/* line 18, ../sass/_typography.scss */
h5 {
  font-size: 1.5em;
}

/* line 19, ../sass/_typography.scss */
h6 {
  font-size: 1.2em;
}

/* line 21, ../sass/_typography.scss */
a {
  color: #2B2B2B;
}

/* line 24, ../sass/_typography.scss */
a:visited {
  color: #002b73;
}

/* line 29, ../sass/_typography.scss */
ul li {
  margin-left: 1.3em;
}
/* line 32, ../sass/_typography.scss */
ul ul {
  margin-left: 1.5em;
}

/*
SUPER SLICK TRANSFORMS
*/
/* line 8, ../sass/_transforms.scss */
.fly-in-up, .fly-in-right, .tag-search-results li, .fly-in-left {
  -webkit-transition: opacity 300ms 200ms ease;
  -moz-transition: opacity 300ms 200ms ease;
  -ms-transition: opacity 300ms 200ms ease;
  -o-transition: opacity 300ms 200ms ease;
  transition: opacity 300ms 200ms ease;
  -webkit-animation-fill-mode: forwards !important;
  -moz-animation-fill-mode: forwards !important;
  -o-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important;
}

/* line 20, ../sass/_transforms.scss */
.fly-in-down, .new-message {
  -webkit-animation: flyindown 200ms ease;
  -moz-animation: flyindown 200ms ease;
  -ms-animation: flyindown 200ms ease;
  -o-animation: flyindown 200ms ease;
  animation: flyindown 200ms ease;
}

/* line 27, ../sass/_transforms.scss */
.fly-in-up {
  opacity: 0.1;
  -webkit-animation: flyinup 200ms ease;
  -moz-animation: flyinup 200ms ease;
  -o-animation: flyinup 200ms ease;
  animation: flyinup 200ms ease;
}

/* line 35, ../sass/_transforms.scss */
.fly-in-right, .tag-search-results li {
  opacity: 0 0.1;
  -webkit-animation: flyinright 200ms ease;
  -moz-animation: flyinright 200ms ease;
  -o-animation: flyinright 200ms ease;
  animation: flyinright 200ms ease;
}

/* line 43, ../sass/_transforms.scss */
.fly-in-left {
  opacity: 0.1;
  -webkit-animation: flyinleft 200ms ease;
  -moz-animation: flyinleft 200ms ease;
  -o-animation: flyinleft 200ms ease;
  animation: flyinleft 200ms ease;
}

/*flyindown*/
@-webkit-keyframes flyindown {
  /* line 58, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(0, 0.5em);
  }

  /* line 59, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyindown {
  /* line 62, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(0, 0.5em);
  }

  /* line 63, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyindown {
  /* line 66, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(0, 0.5em);
  }

  /* line 67, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyindown {
  /* line 70, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(0, 0.5em);
  }

  /* line 71, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyindown {
  /* line 74, ../sass/_transforms.scss */
  0% {
    transform: translate(0, 0.5em);
  }

  /* line 75, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*flyinup*/
@-webkit-keyframes flyinup {
  /* line 80, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(0, -0.5em);
  }

  /* line 81, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyinup {
  /* line 84, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(0, -0.5em);
  }

  /* line 85, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyinup {
  /* line 88, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(0, -0.5em);
  }

  /* line 89, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyinup {
  /* line 92, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(0, -0.5em);
  }

  /* line 93, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyinup {
  /* line 96, ../sass/_transforms.scss */
  0% {
    transform: translate(0, -0.5em);
  }

  /* line 97, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*flyinright*/
@-webkit-keyframes flyinright {
  /* line 102, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(-0.5em, 0);
  }

  /* line 103, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyinright {
  /* line 106, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(-0.5em, 0);
  }

  /* line 107, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyinright {
  /* line 110, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(-0.5em, 0);
  }

  /* line 112, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyinright {
  /* line 115, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(-0.5em, 0);
  }

  /* line 116, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyinright {
  /* line 119, ../sass/_transforms.scss */
  0% {
    transform: translate(-0.5em, 0);
  }

  /* line 120, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*flyinleft*/
@-webkit-keyframes flyinleft {
  /* line 125, ../sass/_transforms.scss */
  0% {
    -webkit-transform: translate(0.5em, 0);
  }

  /* line 126, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes flyinleft {
  /* line 129, ../sass/_transforms.scss */
  0% {
    -moz-transform: translate(0.5em, 0);
  }

  /* line 130, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes flyinleft {
  /* line 133, ../sass/_transforms.scss */
  0% {
    -ms-transform: translate(0.5em, 0);
  }

  /* line 135, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes flyinleft {
  /* line 138, ../sass/_transforms.scss */
  0% {
    -o-transform: translate(0.5em, 0);
  }

  /* line 139, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    -o-transform: translate(0, 0);
  }
}

@keyframes flyinleft {
  /* line 142, ../sass/_transforms.scss */
  0% {
    transform: translate(0.5em, 0);
  }

  /* line 143, ../sass/_transforms.scss */
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* line 8, ../sass/_welcome.scss */
.welcome-mast, .profile-mast {
  color: white;
  background: #ffbb00;
  color: black;
  text-align: center;
  position: relative;
}

/* line 16, ../sass/_welcome.scss */
.welcome-mast-cont, .profile-mast-cont {
  padding: 5em;
  background-attachment: fixed;
  background: url("/images/opentalk_bg_opaque.png");
  background: url("/images/pattern-white.png");
  background: url("/images/pattern-white-high-res.png");
  color: #222;
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
}
@media all and (min-width: 31em) {
  /* line 16, ../sass/_welcome.scss */
  .welcome-mast-cont, .profile-mast-cont {
    -webkit-animation: welcome-mast-anim 14s infinite linear;
    -moz-animation: welcome-mast-anim 14s infinite linear;
    -o-animation: welcome-mast-anim 15s infinite linear;
    animation: welcome-mast-anim 15s infinite linear;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
@media all and (max-width: 30em) {
  /* line 16, ../sass/_welcome.scss */
  .welcome-mast-cont, .profile-mast-cont {
    padding: 5em 3em;
  }
}

/* line 44, ../sass/_welcome.scss */
.logo-welcome {
  display: block;
  margin: 1rem auto;
  height: 3.75rem;
  width: 3.75rem;
}

/* line 52, ../sass/_welcome.scss */
#roomid {
  position: relative;
  padding: 1em;
  text-align: center;
  width: 8em;
  outline: none;
  border: 0px;
  box-shadow: none;
  font-size: 1.1rem;
  font-family: 'Questrial', sans-serif;
  margin-top: -.3em;
}

@-webkit-keyframes welcome-mast-anim {
  /* line 72, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 73, ../sass/_welcome.scss */
  to {
    background-position: 0 -400px;
  }
}

@-moz-keyframes welcome-mast-anim {
  /* line 76, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 77, ../sass/_welcome.scss */
  to {
    background-position: 0 -400px;
  }
}

@-ms-keyframes welcome-mast-anim {
  /* line 80, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 81, ../sass/_welcome.scss */
  to {
    background-position: 0 -400px;
  }
}

@-o-keyframes welcome-mast-anim {
  /* line 84, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 85, ../sass/_welcome.scss */
  to {
    background-position: 0 -400px;
  }
}

@keyframes welcome-mast-anim {
  /* line 88, ../sass/_welcome.scss */
  from {
    background-position: 0 0;
  }

  /* line 89, ../sass/_welcome.scss */
  to {
    background-position: 0 -400px;
  }
}

/* line 106, ../sass/_welcome.scss */
.footer {
  background: white;
  overflow: hidden;
  padding: 3em 2em !important;
  margin: auto !important;
  color: #666;
  text-align: center;
}
/* line 113, ../sass/_welcome.scss */
.footer .footer-wrapper {
  margin-top: 0 !important;
}

/* line 118, ../sass/_welcome.scss */
.tos {
  text-align: left;
  margin: 4em auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

/* line 1, ../sass/_room.scss */
.main, .footer .footer-wrapper {
  z-index: 126;
  margin: 6em auto 0.5em;
  max-width: 31em;
  padding: .66em;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
@media all and (min-width: 56em) {
  /* line 1, ../sass/_room.scss */
  .main, .footer .footer-wrapper {
    max-width: 37em;
    border-left: 6em solid transparent;
  }
}
@media all and (max-width: 31em) {
  /* line 1, ../sass/_room.scss */
  .main, .footer .footer-wrapper {
    width: 93%;
    margin-right: .5em;
  }
}
/* line 35, ../sass/_room.scss */
.main.under-modal, .footer .under-modal.footer-wrapper {
  opacity: 0.3;
}

/* line 52, ../sass/_room.scss */
#nickname {
  position: relative;
  padding: 1em;
  text-align: center;
  width: 8em;
  outline: none;
  border: 0px;
  box-shadow: none;
  font-size: 1.1rem;
  font-family: 'Questrial', sans-serif;
  margin-top: -.3em;
}

/* line 71, ../sass/_room.scss */
.login-form {
  text-align: center;
}

/* line 77, ../sass/_room.scss */
.loading {
  display: block;
  width: 100%;
  font-size: 1.3em;
  background: #D8D8D8;
  color: #848484;
  text-align: center;
  border-radius: .3em;
  opacity: 0;
  -webkit-transition: all 333ms linear;
  -moz-transition: all 333ms linear;
  -ms-transition: all 333ms linear;
  -o-transition: all 333ms linear;
  transition: all 333ms linear;
}
/* line 93, ../sass/_room.scss */
.loading.show-loading {
  height: auto;
  padding: 1em;
  opacity: 1;
  margin-bottom: 2em;
}

/* line 1, ../sass/_sidebar.scss */
.fixed-sidebar-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;
  background: -moz-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
  background: white;
}
@media all and (min-width: 56em) {
  /* line 1, ../sass/_sidebar.scss */
  .fixed-sidebar-background {
    border-top: 4px solid #ffbb00;
  }
}

/* line 23, ../sass/_sidebar.scss */
.fixed-sidebar {
  position: fixed;
  width: 17em;
  top: 0;
  bottom: 0;
  z-index: 99;
  /*padding top 5em to  push it away from .toggle-*/
  padding: 5em 1em 4em;
  margin-bottom: -2em;
  overflow-y: auto;
  /*prevent flicker*/
  box-shadow: -0.3em 0 .4em lightgrey inset;
}
/* line 38, ../sass/_sidebar.scss */
.fixed-sidebar a {
  color: black;
}
@media all and (max-width: 56em) {
  /* line 23, ../sass/_sidebar.scss */
  .fixed-sidebar {
    border-top: 4px solid #ffbb00;
    left: -18em !important;
    padding: 5em 2em 4em;
    background: url("/images/pattern-black-w.png");
    background: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-property: transform,opacity;
    -moz-transition-property: transform,opacity;
    -ms-transition-property: transform,opacity;
    -o-transition-property: transform,opacity;
    transition-property: transform,opacity;
  }
}
/* line 68, ../sass/_sidebar.scss */
.fixed-sidebar.show {
  z-index: 900;
  opacity: 1;
  box-shadow: none;
}
/* line 80, ../sass/_sidebar.scss */
.fixed-sidebar:hover {
  opacity: 1;
}
/* line 82, ../sass/_sidebar.scss */
.fixed-sidebar:hover .online-users-count {
  opacity: 1 !important;
}

@media all and (max-width: 56em) {
  /* line 89, ../sass/_sidebar.scss */
  .csstransforms .fixed-sidebar.show {
    -webkit-transform: translate3d(18em, 0, 0);
    -moz-transform: translate3d(18em, 0, 0);
    -o-transform: translate3d(18em, 0, 0);
    -ms-transform: translate3d(18em, 0, 0);
    transform: translate3d(18em, 0, 0);
  }
}

@media all and (max-width: 56em) {
  /* line 101, ../sass/_sidebar.scss */
  .no-csstransforms .fixed-sidebar.show {
    left: 0 !important;
  }
}

/* line 107, ../sass/_sidebar.scss */
.userinfo {
  text-align: center;
}
/* line 109, ../sass/_sidebar.scss */
.userinfo .user-avatar {
  height: 3em;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}
/* line 116, ../sass/_sidebar.scss */
.userinfo .user-username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

/* line 124, ../sass/_sidebar.scss */
.buttons-wrapper {
  text-align: center;
}

/* line 127, ../sass/_sidebar.scss */
#logout, #toggleRealtime, #userstats {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.6em;
  text-decoration: none;
  border: 1px solid darkgrey;
}

/* line 145, ../sass/_sidebar.scss */
.online-users {
  margin: 2em auto;
  text-align: left;
  list-style-type: none;
  text-align: center;
  overflow-y: auto;
  height: 10em;
}
/* line 153, ../sass/_sidebar.scss */
.online-users li {
  margin-left: 0;
}

/* line 157, ../sass/_sidebar.scss */
.online-users-heading {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(200, 200, 200, 0.5);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 10em;
  margin: auto;
  display: inline-block;
}

/* line 167, ../sass/_sidebar.scss */
.online-user {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #555;
  margin-left: 0.5em !important;
}
/* line 175, ../sass/_sidebar.scss */
.online-user.strike {
  text-decoration: line-through;
  opacity: .3;
}

/* line 181, ../sass/_sidebar.scss */
.online-user-wrapper {
  text-align: left;
  width: 10em;
  margin: auto;
  display: inline-block;
  padding: .1em .2em;
  border-left: 1px solid rgba(200, 200, 200, 0.3);
  border-right: 1px solid rgba(200, 200, 200, 0.3);
  border-bottom: 1px dotted rgba(200, 200, 200, 0.3);
}

/* line 192, ../sass/_sidebar.scss */
.roomid {
  margin-top: 3em;
  text-align: center;
  padding: .5em;
  color: #805e00;
}

/* line 198, ../sass/_sidebar.scss */
.online-users, .roomid {
  float: right;
  width: 100%;
}

/* line 203, ../sass/_sidebar.scss */
.online-users-count {
  color: #444444;
  font-weight: bold;
  padding: .5em .8em .5em;
  background: #ffbb00;
  display: none;
  border-radius: 50%;
  position: fixed;
  left: 0em;
  top: 4.9em;
  z-index: 998;
  border: 0.1em solid #cc9600;
  /*sadly no transition because it would be 
  	positioned *again* when a heartbeat happens,
  	will be fixed, soon
  */
  /*
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  */
}
@media all and (max-width: 56em) {
  /* line 203, ../sass/_sidebar.scss */
  .online-users-count {
    left: 0 !important;
    opacity: 1;
    cursor: pointer;
    display: inline-block;
  }
}

/* line 244, ../sass/_sidebar.scss */
.toggle-sidebar {
  display: none;
  cursor: pointer;
  left: 0;
  top: 1.5em;
  position: fixed;
  height: 3.33em;
  width: 3.33em;
  background: #ffbb00;
  z-index: 1000;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 0.1em solid #cc9600;
}
@media all and (max-width: 56em) {
  /* line 244, ../sass/_sidebar.scss */
  .toggle-sidebar {
    display: block;
    left: 0 !important;
  }
}
/* line 269, ../sass/_sidebar.scss */
.toggle-sidebar .icon-arrow {
  width: 1.665em;
  height: 1.665em;
  margin: 0.7325em 0 0 0.7325em;
}

/* line 278, ../sass/_sidebar.scss */
.status-badge {
  height: .5em;
  width: .5em;
  display: inline-block;
  margin: .4em .5em 0 0;
  border-radius: 70%;
  opacity: .5;
}
/* line 289, ../sass/_sidebar.scss */
.status-badge.online, .status-badge.on {
  background: #29A100;
}
/* line 292, ../sass/_sidebar.scss */
.status-badge.idle, .status-badge.off {
  background: #FF8200;
}

/* line 300, ../sass/_sidebar.scss */
.fixed-sidebar .logo {
  position: absolute;
  top: 1.5em;
  right: 1em;
}

/* line 309, ../sass/_sidebar.scss */
.markdown-cheatsheet {
  margin: 5em 0;
  padding: 2em 0;
  display: block;
  text-align: center;
}

/* line 319, ../sass/_sidebar.scss */
.tags {
  list-style-type: none;
  text-align: center;
}
/* line 323, ../sass/_sidebar.scss */
.tags #enter-tag {
  padding: 1em 2em;
  width: 10em;
  border: none;
  margin-top: .5em;
}
/* line 329, ../sass/_sidebar.scss */
.tags #enter-tag:focus {
  border: none;
  outline: none;
}
/* line 334, ../sass/_sidebar.scss */
.tags .tag {
  padding: .3em .7em;
  margin: .4em .16em;
  background: white;
  border-radius: 7px;
  border: 1px solid #C9C9C9;
  display: inline-block;
  color: black;
}
/* line 343, ../sass/_sidebar.scss */
.tags .tag:hover {
  cursor: crosshair;
}

/* line 1, ../sass/_messages.scss */
.messages {
  list-style-type: none;
  width: 100%;
  border-radius: .5em;
}

/* line 12, ../sass/_messages.scss */
.message {
  padding: 0em 0.7em;
  overflow: visible !important;
  background: #fefefe;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  position: relative;
}

/* line 24, ../sass/_messages.scss */
.avatar {
  height: 1.9em;
  width: 1.9em;
  margin-left: -1.5em;
  vertical-align: top;
  display: inline-block;
  background: none;
  background: transparent;
  background-size: 100% !important;
  border-radius: 50%;
  position: absolute;
  left: 0.5em;
  top: -0.9em;
}

/* line 44, ../sass/_messages.scss */
.avatar-border {
  border: 1px solid darkgrey;
}

/* line 47, ../sass/_messages.scss */
.message .text, .message p {
  vertical-align: middle;
  margin: 0em .3em;
  padding: .1em;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 61, ../sass/_messages.scss */
code {
  white-space: pre;
  word-wrap: normal;
  background-color: #333;
  overflow: auto;
  color: #fff;
  padding: .7em;
  border-radius: .2em;
  display: block;
}

/* line 72, ../sass/_messages.scss */
.tip:hover .username {
  visibility: visible;
  opacity: 1;
}

/* line 77, ../sass/_messages.scss */
.username {
  position: absolute;
  font-size: .9em;
  visibility: hidden;
  opacity: 0;
  width: auto;
  white-space: nowrap;
  left: .1em;
  top: -2.8em;
  background: #444444;
  color: #fff;
  padding: .4em;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 100, ../sass/_messages.scss */
.username:after {
  content: "";
  position: absolute;
  top: 2em;
  left: .5em;
  border-top: 0.7em solid #444444;
  border-left-color: inherit;
  border-right: .5em solid transparent;
  border-left: .5em solid transparent;
}

/* line 112, ../sass/_messages.scss */
.message-image-wrapper {
  position: relative;
}
/* line 118, ../sass/_messages.scss */
.message-image-wrapper .open-in-new-tab {
  position: absolute;
  top: .2em;
  right: -1em;
  height: 1em;
  width: 1em;
  background: url("/images/link.png") no-repeat;
  background-size: 100%;
}

/* line 128, ../sass/_messages.scss */
.message-image {
  display: inline-block;
  max-height: 5em;
  margin-top: .2em;
  margin-top: .2em;
}
/* line 134, ../sass/_messages.scss */
.message-image.exp {
  max-width: 31em;
  max-height: inherit;
  width: 100%;
}

/* line 141, ../sass/_messages.scss */
.diffUser {
  margin-top: .8em;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  border-top: 1px solid lightgrey;
}

/* line 147, ../sass/_messages.scss */
.lastOfUser {
  border-bottom: 1px solid lightgrey;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
}

/* line 154, ../sass/_messages.scss */
.cssanimations.csstransitions .slick-realtime-shit {
  -webkit-animation: realtime-anim 10s ease-out;
  -moz-animation: realtime-anim 10s ease-out;
  -o-animation: realtime-anim 10s ease-out;
  animation: realtime-anim 10s ease-out;
}

/* line 161, ../sass/_messages.scss */
#li-message {
  width: 100%;
}

/* line 164, ../sass/_messages.scss */
#mymessage {
  resize: none !important;
  width: 100%;
  font-size: 1em;
  padding: 1em;
  margin-top: 1em;
  min-height: 2em;
  outline: none;
  border: none;
  background: none;
  border-left: 2px solid #cc9600;
  font-family: 'Questrial', sans-serif;
  overflow-y: hidden;
}

/* line 191, ../sass/_messages.scss */
#first, #last {
  border: none;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes realtime-anim {
  /* line 198, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 199, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@-moz-keyframes realtime-anim {
  /* line 202, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 203, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@-ms-keyframes realtime-anim {
  /* line 206, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 207, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@-o-keyframes realtime-anim {
  /* line 210, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 211, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

@keyframes realtime-anim {
  /* line 214, ../sass/_messages.scss */
  0% {
    border-left: 1px solid #ffbb00;
  }

  /* line 215, ../sass/_messages.scss */
  100% {
    border-left: 1px solid lightgrey;
  }
}

/* line 1, ../sass/_buttons.scss */
.button {
  display: inline-block;
  font-size: .75em;
  font-weight: bold;
  line-height: 1;
  margin-top: 0;
  padding: .8em 1em;
  border-radius: 0.5em;
}

/* line 10, ../sass/_buttons.scss */
.silver {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #f7f7f7));
  background: -webkit-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: -moz-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: -o-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  background: linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 2px 0 #fff;
  box-shadow: inset 0 2px 0 #fff;
  color: #666;
}
/* line 22, ../sass/_buttons.scss */
.silver:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e3e3e3), color-stop(1, #efefef));
  background: -webkit-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: -moz-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: -o-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: -ms-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  background: linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
  color: #444;
}
/* line 31, ../sass/_buttons.scss */
.silver:active {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d5d5d5), color-stop(1, #e5e5e5));
  background: -webkit-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
  background: -moz-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
  background: -o-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
  background: linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
  color: #444;
}

/* line 1, ../sass/_fields.scss */
input[type='text'] {
  padding: .8em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 10, ../sass/_fields.scss */
input[type='text'].change {
  border: 2px solid transparent;
  background: none;
  color: white;
}
/* line 15, ../sass/_fields.scss */
input[type='text'].change:focus {
  color: black;
  background: white;
}

/* line 1, ../sass/_icons.scss */
[class^='icon'] {
  display: inline-block;
  height: 1em;
  width: 1em;
}

/* line 6, ../sass/_icons.scss */
.icon-arrow {
  background: url("/images/arrow.png") no-repeat;
  background-size: 100%;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

/* line 21, ../sass/_icons.scss */
.icon-logout {
  background: url("/images/logout.png") no-repeat;
  background-size: 100%;
  height: 1.3em;
  width: 1.3em;
  margin-top: -.325em;
  margin-bottom: -.325em;
  margin-left: .325em;
}

/* line 30, ../sass/_icons.scss */
.icon-realtime {
  background: url("/images/realtime.png") no-repeat;
  background-size: 100%;
  height: 1.3em;
  width: 1.3em;
  margin-top: -.325em;
  margin-bottom: -.325em;
}

/* line 38, ../sass/_icons.scss */
.icon-profile {
  background: url("/images/avatar.png") no-repeat;
  background-size: 100%;
  height: 1.3em;
  width: 1.3em;
  margin-top: -.325em;
  margin-bottom: -.325em;
}

/* line 48, ../sass/_icons.scss */
.toggle-sidebar.left .icon-arrow {
  -webkit-transform: rotateZ(-180deg) !important;
  -moz-transform: rotateZ(-180deg) !important;
  -o-transform: rotateZ(-180deg) !important;
  -ms-transform: rotateZ(-180deg) !important;
  transform: rotateZ(-180deg) !important;
}

/* line 56, ../sass/_icons.scss */
.toggle-sidebar:hover .icon-arrow {
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 64, ../sass/_icons.scss */
.icon-twitter, .icon-facebook, .icon-github, .icon-google {
  background-size: 100%;
  width: 1em;
  height: 1em;
}

/* line 69, ../sass/_icons.scss */
.icon-twitter {
  background: url("/images/social/twitter.png") no-repeat;
}

/* line 72, ../sass/_icons.scss */
.icon-facebook {
  background: url("/images/social/facebook.png") no-repeat;
}

/* line 75, ../sass/_icons.scss */
.icon-github {
  background: url("/images/social/github.png") no-repeat;
}

/* line 78, ../sass/_icons.scss */
.icon-google {
  background: url("/images/social/google.png") no-repeat;
}

/* line 84, ../sass/_icons.scss */
.logo, .back {
  height: 3.33em;
  width: 3.33em;
  border-radius: 50%;
  padding: 0.8325em;
  background: #ffbb00;
  display: inline-block;
  border: 0.1em solid #cc9600;
}

/* line 1, ../sass/_general.scss */
body {
  background: #F0F0F0;
}

/* line 5, ../sass/_general.scss */
input {
  background: none;
}

/* line 9, ../sass/_general.scss */
html {
  overflow-x: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 13, ../sass/_general.scss */
  ::-webkit-scrollbar {
    width: .7em;
    background: #fff;
  }

  /* line 14, ../sass/_general.scss */
  ::-webkit-scrollbar-track {
    background-color: #999;
  }

  /* line 15, ../sass/_general.scss */
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* line 17, ../sass/_general.scss */
::selection {
  background: #ffbb00;
  color: inherit;
}

/* line 18, ../sass/_general.scss */
::-moz-selection {
  background: #ffbb00;
  color: inherit;
}

/* line 21, ../sass/_general.scss */
.debug {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  max-width: 15em;
}

/*
Tipr drop 1.0
Copyright (c) 2013 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
*/
/* line 11, ../sass/_tipr.scss */
.tipr_content {
  font: 13px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  color: #333;
  padding: .3em 1em;
  font-weight: bold;
  border-radius: .5em;
}

/* line 21, ../sass/_tipr.scss */
.tipr_container_bottom {
  display: none;
  position: absolute;
  margin-top: 13px;
  z-index: 1000;
}

/* line 28, ../sass/_tipr.scss */
.tipr_container_top {
  display: none;
  position: absolute;
  top: -3em;
  z-index: 1000;
  left: -.5em;
  margin-left: 0 !important;
  border-radius: .5em;
}

/* line 38, ../sass/_tipr.scss */
.tipr_point_top, .tipr_point_bottom {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: .5em;
}

/* line 45, ../sass/_tipr.scss */
.tipr_point_top:after, .tipr_point_top:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  top: 100%;
  content: "";
  height: 0;
  width: 0;
}

/* line 55, ../sass/_tipr.scss */
.tipr_point_top:after {
  border-top-color: #fff;
  border-width: .5em;
  left: 1.1em;
  left: 1.1em;
  margin-left: -.5em;
}

/* line 65, ../sass/_tipr.scss */
.tipr_point_top:before {
  border-top-color: #dcdcdc;
  border-width: .5em;
  left: 1.1em;
  margin-left: -.5em;
}

/* line 72, ../sass/_tipr.scss */
.tipr_point_bottom:after, .tipr_point_bottom:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  bottom: 100%;
  content: "";
  height: 0;
  width: 0;
}

/* line 82, ../sass/_tipr.scss */
.tipr_point_bottom:after {
  border-bottom-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

/* line 89, ../sass/_tipr.scss */
.tipr_point_bottom:before {
  border-bottom-color: #dcdcdc;
  border-width: .5em;
  left: 50%;
  margin-left: -.5em;
}

/* line 1, ../sass/_loginButtons.scss */
.serviceLogin {
  display: inline-block;
  padding: .2em;
  margin: .2em;
  cursor: pointer;
}
/* line 8, ../sass/_loginButtons.scss */
.serviceLogin img {
  width: 3em;
}

/* line 4, ../sass/_profile.scss */
.profile-mast .logo {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
/* line 9, ../sass/_profile.scss */
.profile-mast .back {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

/* line 19, ../sass/_profile.scss */
.profile-mast-cont img {
  height: 4em;
  width: 4em;
  margin: .5em;
  border-radius: 50%;
  border: 1px solid #222;
}
/* line 27, ../sass/_profile.scss */
.profile-mast-cont p {
  font-size: 1.5em;
}

/* line 39, ../sass/_profile.scss */
.stat {
  height: 13em;
}

/* line 47, ../sass/_profile.scss */
.user-rooms {
  margin: 2em auto;
  max-width: 31em;
  width: 100%;
  overflow: hidden;
  padding: 1.5em;
  list-style-type: none;
}

/* line 56, ../sass/_profile.scss */
.user-room {
  display: inline-block;
}
/* line 58, ../sass/_profile.scss */
.user-room a {
  padding: .7em 1.4em;
  margin: 0.7em;
  background: white;
  border-radius: 7px;
  border: 1px solid #C9C9C9;
  display: inline-block;
  color: black;
}

/* line 1, ../sass/_tiles.scss */
.tiles, .features, .stats {
  background: white;
  width: 100%;
  float: left;
  padding: 2em;
}

/* line 7, ../sass/_tiles.scss */
.tiles-header, .features-header, .stats-header {
  text-align: center;
  font-size: 4em;
}

/* line 11, ../sass/_tiles.scss */
.tiles-wrapper, .features-wrapper, .stats-wrapper {
  max-width: 41em;
  margin: auto;
}

/* line 15, ../sass/_tiles.scss */
.tile, .feature, .stat {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  display: table;
  width: 33.3%;
  padding: 2em;
  float: left;
  text-align: center;
  height: 15em;
}
@media all and (max-width: 41em) {
  /* line 15, ../sass/_tiles.scss */
  .tile, .feature, .stat {
    width: 50%;
  }
}
/* line 33, ../sass/_tiles.scss */
.tile h6, .feature h6, .stat h6 {
  font-size: 1.2em;
}
/* line 37, ../sass/_tiles.scss */
.tile img, .feature img, .stat img {
  width: 2em;
  height: 2em;
}
/* line 42, ../sass/_tiles.scss */
.tile a, .feature a, .stat a {
  color: #444444;
}

/**
 * CSS Modal
 * Modal as reusable module
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 * @version 1.0.4
 *
 * Usage:
 *    selector {
 *        @extend %modal;
 *    }
 */
/*
 * Configuration
 */
/* line 28, ../sass/_modal.scss */
html {
  overflow-y: scroll;
}

/* line 32, ../sass/_modal.scss */
.has-overlay {
  overflow: hidden;
}
/* line 35, ../sass/_modal.scss */
.has-overlay > body {
  height: 100%;
}

/* line 41, ../sass/_modal.scss */
.semantic-content {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 0;
  color: #222;
  line-height: 1.3;
  display: none\9;
}
/* line 65, ../sass/_modal.scss */
.semantic-content:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
/* line 79, ../sass/_modal.scss */
.is-active.semantic-content {
  display: block\9;
}
/* line 84, ../sass/_modal.scss */
.semantic-content:target {
  display: block\9;
}
/* line 90, ../sass/_modal.scss */
.semantic-content .modal-inner {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
/* line 107, ../sass/_modal.scss */
.semantic-content .modal-inner > img,
.semantic-content .modal-inner > video,
.semantic-content .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}
/* line 113, ../sass/_modal.scss */
.semantic-content .modal-inner > img {
  width: auto;
  max-width: 100%;
}
/* line 120, ../sass/_modal.scss */
.semantic-content header {
  border-bottom: 1px solid #dddddd;
  padding: 0 1.2em;
}
/* line 124, ../sass/_modal.scss */
.semantic-content header > h2 {
  margin: 0.5em 0;
}
/* line 131, ../sass/_modal.scss */
.semantic-content .modal-content {
  max-height: 400px;
  max-height: 70vh;
  border-bottom: 1px solid #dddddd;
  padding: 15px 1.2em;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 139, ../sass/_modal.scss */
.semantic-content .modal-content > * {
  max-width: 100%;
}
/* line 146, ../sass/_modal.scss */
.semantic-content footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
/* line 155, ../sass/_modal.scss */
.semantic-content .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}
/* line 161, ../sass/_modal.scss */
.semantic-content .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}
/* line 175, ../sass/_modal.scss */
.semantic-content .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 20;
  margin-left: 285px;
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}
@media screen and (max-width: 690px) {
  /* line 197, ../sass/_modal.scss */
  .semantic-content .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
  /* line 204, ../sass/_modal.scss */
  .semantic-content .modal-close {
    margin-right: 0;
  }
  /* line 209, ../sass/_modal.scss */
  .semantic-content .modal-close:after {
    margin-left: auto;
    right: 1em;
  }
}
@media screen and (max-width: 30em) {
  /* line 41, ../sass/_modal.scss */
  .semantic-content {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
    -moz-transition: -moz-transform .25s ease-in-out, opacity 1ms .25s;
    -o-transition: -o-transform .25s ease-in-out, opacity 1ms .25s;
    -ms-transition: -ms-transform .25s ease-in-out, opacity 1ms .25s;
    transition: transform .25s ease-in-out, opacity 1ms .25s;
    display: block;
    height: 100%;
    bottom: auto;
  }
  /* line 233, ../sass/_modal.scss */
  .semantic-content:target {
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -moz-transition: -moz-transform .25s ease-in-out;
    -o-transition: -o-transform .25s ease-in-out;
    -ms-transition: -ms-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
  }
  /* line 241, ../sass/_modal.scss */
  .semantic-content:before {
    background-color: #27aae2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#27aae2), to(#1c9cd3));
    background-image: -webkit-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -moz-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -o-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: linear-gradient(to bottom, #27aae2, #1c9cd3);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  /* line 260, ../sass/_modal.scss */
  .semantic-content .modal-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3em;
    height: 100%;
    overflow: scroll;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 275, ../sass/_modal.scss */
  .semantic-content .modal-content {
    max-height: none;
  }
  /* line 279, ../sass/_modal.scss */
  .semantic-content .modal-close {
    right: auto;
    text-decoration: none;
  }
  /* line 283, ../sass/_modal.scss */
  .semantic-content .modal-close:before {
    display: none;
  }
  /* line 287, ../sass/_modal.scss */
  .semantic-content .modal-close:after {
    content: attr(data-close);
    top: 0.4em;
    left: 1em;
    z-index: 40;
    margin-left: 0;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}
@media screen and (max-height: 46em) and (min-width: 30em) {
  /* line 301, ../sass/_modal.scss */
  .semantic-content .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  /* line 308, ../sass/_modal.scss */
  .semantic-content .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}

@media screen and (min-width: 30em) {
  /* line 317, ../sass/_modal.scss */
  .semantic-content {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}

/* line 1, ../sass/_todo.scss */
.todos {
  background: #F0F0F0;
  overflow: hidden;
  width: 100%;
}

/* line 6, ../sass/_todo.scss */
.todos-wrapper {
  margin: 5em auto;
  max-width: 31em;
  padding: 2em;
}

/* line 1, ../sass/_search.scss */
.tag-search-results {
  list-style-type: none;
}
/* line 4, ../sass/_search.scss */
.tag-search-results li {
  padding: .3em .6em;
  margin: 0.4em;
  font-size: .9em;
  background: white;
  border-radius: 7px;
  border: 1px solid #C9C9C9;
  display: inline-block;
  color: black;
}
/* line 15, ../sass/_search.scss */
.tag-search-results li a {
  text-decoration: none;
}

/* line 21, ../sass/_search.scss */
#search-tags {
  position: relative;
  padding: 1em 1.5em 1em 0;
  text-align: center;
  width: 10em;
  outline: none;
  border: 0px;
  box-shadow: none;
  font-size: 1.1rem;
  font-family: 'Questrial', sans-serif;
  margin-top: -.3em;
}

/* line 1, ../sass/_blanket.scss */
.blanket, .blanket-white, .blanket-search {
  position: relative;
  display: block;
  max-width: 22em;
  width: 93%;
  padding: 1.5em;
  box-shadow: 3px 3px 25px lightgrey;
  margin: 2.5em auto;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: url("/images/pattern-black-w.png");
}
@media all and (min-width: 54em) {
  /* line 1, ../sass/_blanket.scss */
  .blanket, .blanket-white, .blanket-search {
    display: inline-block;
  }
}

/* line 25, ../sass/_blanket.scss */
.medium-text {
  font-size: 1.3em;
}

/* line 28, ../sass/_blanket.scss */
.vam {
  vertical-align: middle;
  display: table-cell;
}

/* line 34, ../sass/_blanket.scss */
.blankets-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 54em;
  overflow: hidden;
  vertical-align: middle;
}

/* line 42, ../sass/_blanket.scss */
.blanket-wrapper {
  margin: auto;
}
@media all and (min-width: 54em) {
  /* line 42, ../sass/_blanket.scss */
  .blanket-wrapper {
    width: 49%;
    padding: 1em;
    display: inline-block;
    /* IE 7 hack, but who cares, right?? */
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
  }
}
