.button{
	display: inline-block;
	font-size: .75em;
	font-weight: bold;
	line-height: 1;
	margin-top: 0;
	padding: .8em 1em;
	border-radius: 0.5em;

	cursor: pointer;
}
.silver{
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #f7f7f7));
	background: -webkit-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
	background: -moz-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
	background: -o-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
	background: -ms-linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
	background: linear-gradient(bottom, #efefef 0%, #f7f7f7 100%);
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 2px 0 #fff;
	box-shadow: inset 0 2px 0 #fff;
	color: #666;

	&:hover{
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e3e3e3), color-stop(1, #efefef));
		background: -webkit-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
		background: -moz-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
		background: -o-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
		background: -ms-linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
		background: linear-gradient(bottom, #e3e3e3 0%, #efefef 100%);
		color: #444;
	}
	&:active{
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d5d5d5), color-stop(1, #e5e5e5));
		background: -webkit-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
		background: -moz-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
		background: -o-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
		background: -ms-linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
		background: linear-gradient(bottom, #d5d5d5 0%, #e5e5e5 100%);
		color: #444;
	}
}