body{
	background:#F0F0F0;
}

input{
	background:none;
}

html{
	overflow-x:hidden;
}
// @media screen and (-webkit-min-device-pixel-ratio:0){
// 	::-webkit-scrollbar{width:.5em!important;background:#fff;} 
// 	::-webkit-scrollbar-track{background-color: #ccc;} 
// 	::-webkit-scrollbar-thumb{border-radius: 4px;background-color: rgba(0,0,0,0.2); }
// }
::selection{background:$color-main;color:inherit;}
::-moz-selection{background:$color-main;color:inherit;}