[class^='icon']{
	display:inline-block;
	background-size:100%!important; //to override background
	$icon-size:1.4em;
	height: $icon-size;
	width: $icon-size;
	margin-top: -$icon-size/5;
	margin-bottom: -$icon-size/5;
}
.icon-arrow{
	background:url('/images/arrow.png') no-repeat;
	background-size:100%;

	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	-webkit-transform:rotateZ(0deg);
	-moz-transform:rotateZ(0deg);
	-o-transform:rotateZ(0deg);
	-ms-transform:rotateZ(0deg);
	transform:rotateZ(0deg);
}
.icon-signout{
	background:url('/images/logout.png') no-repeat;
	margin-left:.325em;
}
.icon-realtime{
	background:url('/images/realtime.png') no-repeat;
}
.icon-profile{
	background:url('/images/avatar.png') no-repeat;
}
.icon-settings{
	background:url('/images/settings.png') no-repeat;
}
.icon-reference{
	background:url('/images/reference.png') no-repeat;
}
.icon-sound{
	background:url('/images/sound-on.png') no-repeat;
	&.off{
		background:url('/images/sound-off.png') no-repeat;
	}
}
.icon-kitten{
	background:url('/images/kitten-on.png') no-repeat;
	&.off{
		background:url('/images/kitten-off.png') no-repeat;
	}
}

.icon-add{
	background:url('/images/add.png') no-repeat;
}

.toggle-sidebar.left .icon-arrow{
	-webkit-transform:rotateZ(-180deg)!important;
	-moz-transform:rotateZ(-180deg)!important;
	-o-transform:rotateZ(-180deg)!important;
	-ms-transform:rotateZ(-180deg)!important;
	transform:rotateZ(-180deg)!important;
}

.toggle-sidebar:hover .icon-arrow{
	-webkit-transform:rotateZ(-45deg);
	-moz-transform:rotateZ(-45deg);
	-o-transform:rotateZ(-45deg);
	-ms-transform:rotateZ(-45deg);
	transform:rotateZ(-45deg);
}

.serviceLogin{
	$w:45px;
	display: block;
	background-size:$w!important; /*fuck you and all CSS shit fuck bitch asshole*/
	width:$w;
	height:$w;
	background:url('/images/social/sprite.png') no-repeat;

	/*
	*/
	&.twitter{background-position: 0 -#{$w*0};}
	&.github{background-position: 0 -#{$w*1};}
	&.facebook{background-position: 0 -#{$w*2};}
	&.google{background-position: 0 -#{$w*3};}
}



.logo,.back{
	height:$toggle-size;
	width:$toggle-size;
	border-radius: 50%;
	// border-top-right-radius:0;
	// border-bottom-right-radius:0;
	padding:$toggle-size/4;
	background:$color-main;
	display: inline-block;
	border:.1em solid darken($color-main,10%);
	// box-shadow: .05em 0em .5em 0em lightgrey;
}