.serviceLogin{
	display: inline-block;
	padding:.2em;
	margin: .2em;

	cursor: pointer;

	img{
		width: 3em;
	}
}
	// .twitter{background: #0092CB;}
	// .facebook{background: #0092CB;}
	// .google{background: #0092CB;}
	// .github{background: #0092CB;}
