.messages{
	list-style-type: none;
	//padding: 0.5em 0em 0em;
	width: 100%;

	// background: rgba(255,255,255,.6);
	// box-shadow: 3px 3px 25px $color-border;

	border-radius: .5em;
	// margin-bottom: 2em;
}
	.message{
		padding: .2em 0.7em;
		overflow: visible!important;//because jQuery adds overflow:hidden when hiding stuff
		background:#fefefe;
		border-left:1px solid $color-border;
		border-right:1px solid $color-border;
		
		position:relative;


		&.unread::after{
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			display: inline-block;
			height: 100%;
			width: 2px;
			background: lighten($color-main,5%);
		}
		&.fadeOffUnread.unread::after{
			background: transparent;
			-webkit-transition: all 8s linear;
			-moz-transition: all 8s linear;
			-ms-transition: all 8s linear;
			-o-transition: all 8s linear;
			transition: all 8s linear;
		}
		@for $i from 1 through 30{
			&.fadeOffUnread.unread:nth-last-of-type(#{30 - $i})::after{
				-webkit-transition-delay: $i * 500ms;
				-moz-transition-delay: $i * 500ms;
				-ms-transition-delay: $i * 500ms;
				-o-transition-delay: $i * 500ms;
				transition-delay: $i * 500ms;
				//
			}
		}
	}

		.new-message{
			@extend .fly-in-down;
		}
		.avatar{
			z-index: 1000; //it should be above the unread::after
			height:1.9em;
			width: 1.9em;
			// margin-top:.2em;
			// margin-bottom:.2em;
			margin-left: -1.5em;
			// border-top-right-radius: 0px;
			// border-bottom-right-radius: 0px;

			vertical-align: top;
			display: inline-block;
			background: none;
			background: transparent;
			background-size:100%!important;
			border-radius: 50%;

			position: absolute;
			left: 0.5em;
			top: -0.9em;
		}
		.avatar-border{
			border:1px solid darkgrey;
		}
		.message .text, .message p{
			display: inline-block;
			vertical-align: middle;
			margin: 0em .3em;
			padding:.1em;
			// margin-top:.2em;
			// margin-bottom:.2em;
			-ms-word-break: break-all;
			word-break: break-all;
			// Non standard for webkit
			word-break: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;

			width: 100%;
		}

		.at-username{
			display: inline-block;
			padding: 2px;
			background:lighten($color-main,45%);
		}

		pre{
			display: block;
			// width: 100%;
			overflow-x: auto;
			overflow-y: auto;
		}
		code{
			display: block;
			white-space: pre;
			word-wrap: normal;
			overflow: auto;
			margin: 0 2px;
			padding: 3px 5px 0;
			border: 1px solid #ddd;
			background-color: #f8f8f8;
			border-radius: 3px;
		}

		.tip:hover .username{
			visibility: visible;
			opacity: 1;
		}

		.username{
			position:absolute;
			
			font-size: .9em;

			visibility: hidden;
			opacity: 0;
			width:auto;
			white-space: nowrap;//for text in one line
			left:   .1em;
			top: -2.8em;
			background: $color-secondary;
			color:#fff;
			padding:.4em;
			border-radius:5px;

			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-ms-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;


			&:after {
				content: "";
				position: absolute;
				top: 2em;
				left: .5em;
				border-top: .7em solid $color-secondary;
				border-left-color: inherit;
				border-right: .5em solid transparent;
				border-left: .5em solid transparent;
			}
		}

		.message-image-wrapper{
			position: relative;
			// display: inline-block;
			// float:left;
			// clear:left;

			.open-in-new-tab{
				position: absolute;
				top:.2em;
				right:-1em;
				height:1em;
				width:1em;
				background: url('/images/link.png') no-repeat;
				background-size:100%;
			}
		}
		.message-image{
			display: inline-block;
			max-height: 5em;
			margin-top: .2em;
			margin-top: .2em;

			&.exp{
				max-width: $limit;
				max-height: inherit;
				width: 100%;
			}
		}
		
		.diffUser{
			margin-top:.8em;
			border-top-right-radius: .5em;
			border-top-left-radius: .5em;
			border-top:1px solid $color-border;
		}
		.lastOfUser{
			border-bottom:1px solid $color-border;
			border-bottom-right-radius: .5em;
			border-bottom-left-radius: .5em;
		}
		
		$realtime-duration: 10s;
		.cssanimations.csstransitions .slick-realtime-shit{
			-webkit-animation: realtime-anim $realtime-duration ease-out;
			-moz-animation: realtime-anim $realtime-duration ease-out;
			-o-animation: realtime-anim $realtime-duration ease-out;
			animation: realtime-anim $realtime-duration ease-out;			
		}
		
#li-message{
	width:100%;
}
#mymessage{
	resize: none!important;
	width: 100%;
	font-size: 1em;
	padding: 1em;
	margin-top:1em;

	min-height:2em;
	outline:none;
	border:none;
	//border-left:2px solid #C8C8C8;
	//border-right:2px solid #C8C8C8;
	background:none;

	border-left:2px solid darken($color-main,10%);
	font-family: 'Questrial', sans-serif;
	
	overflow-y:hidden;

	

	&:focus{
		//border-top:1px solid #C8C8C8;
		//border-bottom:1px solid #C8C8C8;
	}
}

#first,#last{
	border:none;
	opacity: 0;
	visibility: hidden;
}

@-webkit-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@-moz-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@-ms-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@-o-keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}
@keyframes realtime-anim{
	0% { border-left:1px solid $color-main;  }
	100% { border-left:1px solid $color-border;  }
}

.typeahead{
	list-style-type: none;
	li{
		display: inline-block;
		padding:.5em;
		background:#F5F5F5;
		float:left;
		clear: both;

		width: 12em;
		// text-align: center;

		&.active{
			background: $color-main;
		}

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.mention_image{
		height: 1em;
		width: 1em;
	}
	.mention_username{

	}
}