.profile-mast{
	@extend .welcome-mast;
}

.profile-mast-cont{
	@extend .welcome-mast-cont;

	img{
		height:4em;
		width: 4em;
		margin: .5em;
		border-radius: 50%;
		border:1px solid #222;
	}

	p{
		font-size: 1.5em;
	}
}


.stats{
	@extend .tiles;
}
.stats-wrapper{
	@extend .tiles-wrapper;
}
.stat{
	@extend .tile;
	height:13em;
	width:33.3%;

	@media all and(max-width: $limit + 5em){
		width: 50%;
	}
}
