.main{
	z-index: 126;

	margin: 6em auto 0.5em;
	
	max-width: $limit;

	@media all and (min-width: $limit + $offset-main + $sidebar-width + 1em){
		max-width: $limit + $offset-main;

		border-left: $offset-main solid transparent;
	}

	//width:100%;
	
	padding: .66em;
	

	//background: rgba(255,255,255,.8);

	border-top-right-radius:0px;
	border-top-left-radius:0px;
	
	@media all and(max-width:$limit){
		width: 93%;
		margin-right:.5em;
	}

	// -webkit-transition: all 333ms linear;
	// -moz-transition: all 333ms linear;
	// -ms-transition: all 333ms linear;
	// -o-transition: all 333ms linear;
	// transition: all 333ms linear;

	&.under-modal{
		$blur:5px;
		// -webkit-filter: blur($blur);
	 //    -moz-filter: blur($blur);
	 //    -o-filter: blur($blur);
	 //    -ms-filter: blur($blur);
	 //    filter: blur($blur);
	    opacity: 0.3;

	    // -webkit-transform: translateX(1em);
		// -moz-transform: translateX(1em);
		// -ms-transform: translateX(1em);
		// -o-transform: translateX(1em);
		// transform: translateX(1em);
	}
}

#nickname{
	position: relative;
	padding: 1em;
	//font-size: 1.3em;
	//margin: 0 1em;
	text-align: center;
	width:8em;

	outline:none;
	border:0px;
	box-shadow: none;

	// background:none;

	font-size: 1.1rem;
	font-family: 'Questrial', sans-serif;
	margin-top: -.3em;
}

.login-form{
	text-align: center;
	// margin-top:0;
}


.loading{
	display: block;
	width: 100%;
	font-size: 1.3em;
	background:#D8D8D8;
	color:#848484;
	text-align: center;
	border-radius: .3em;

	opacity: 0;

	-webkit-transition: all 333ms linear;
	-moz-transition: all 333ms linear;
	-ms-transition: all 333ms linear;
	-o-transition: all 333ms linear;
	transition: all 333ms linear;
	&.show-loading{
		height:auto;
		padding: 1em;
		opacity: 1;
		margin-bottom: 2em;
	}
}