.fixed-sidebar-background{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	// background: url('/images/pattern-lines-only.png');
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(255, 255, 255, 1)', GradientType=1);
}

.fixed-sidebar{
	position:fixed;
	
	width:$sidebar-width;

	top:0;bottom:0;
	z-index: 99;

	
	/*padding top 5em to  push it away from .toggle-*/
	padding:5em 1em 4em;
	margin-bottom:-2em;

	overflow-y:auto;

	a{
		color:black;
	}	

	@media all and (max-width: $limit + $sidebar-width*2){
		left: - $sidebar-width - 1em !important;
		padding:5em 2em 4em;
		-webkit-transition: all $animation-duration ease-in-out;
		-moz-transition: all $animation-duration ease-in-out;
		-ms-transition: all $animation-duration ease-in-out;
		-o-transition: all $animation-duration ease-in-out;
		transition: all $animation-duration ease-in-out;
	}
	
	/*prevent flicker*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;


	box-shadow: -0.3em 0 .4em lightgrey inset;
	&.show{
		// width:15em;
		// width: 16em;

		//left:0!important;
		z-index:900;
		opacity:1;
		
		box-shadow: 1em 0 1em lightgrey;
	}
	@media all and (max-width: $limit + $sidebar-width*2){
		background: url('/images/pattern-black-1.png');
	}
	
	&:hover{
		opacity:1;
		& .online-users-count{
			opacity: 1!important;
		}
	}
}
.csstransforms .fixed-sidebar{
	@media all and (max-width: $limit + $sidebar-width*2){
		&.show{
			-webkit-transform: translate3d($sidebar-width + 1em,0,0);
			-moz-transform: translate3d($sidebar-width + 1em,0,0);
			-o-transform: translate3d($sidebar-width + 1em,0,0);
			-ms-transform: translate3d($sidebar-width + 1em,0,0);
			transform: translate3d($sidebar-width + 1em,0,0);
		}
	}
}

.no-csstransforms .fixed-sidebar{
	@media all and (max-width: $limit + $sidebar-width*2){
		&.show{
			left:0!important;
		}
	}
}

.userinfo{
	text-align: center;
	.user-avatar{
		height:3em;
		border: 1px solid black;
		border-radius: 50%;
		overflow: hidden;
	}

	.user-username{
		text-overflow: ellipsis;
		white-space: nowrap;
	    overflow: hidden;
	    display: block;
	}
}

.buttons-wrapper{
	text-align: center;
}
#logout,#toggleRealtime,#userstats{
	// float:left;
	//clear:right;
	margin-left:0.5em;
	margin-right:0.5em;
	margin-top:0.6em;

	text-decoration: none;
	border:1px solid darkgrey;
}

#toggleRealtime{
	//margin-top: .8em;
}



.online-users{
	margin-top: 1.5em;
	text-align: left;
	list-style-type: none;
	text-align: center;
	
	li{
		margin-left: 0;
	}
}
	.online-users-heading{
		text-align: center;
	}
	.online-user{
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
	    overflow: hidden;
	    color:#444;
	}
	.online-user-wrapper{
		text-align: left;
		margin-left:3em!important;
	}

.roomid{
	margin-top:3em;
	text-align: center;
	padding:.5em;
	color:darken($color-main,25%);
}
.online-users,.roomid{
	float:right;
	width:100%;
}

.online-users-count{
	color:$color-secondary;
	
	font-weight: bold;
	padding: .5em .8em .5em;
	background: $color-main;
	display: none;
	border-radius: 50%;

	position:fixed;
	left:0em;
	top:4.9em;
	z-index: 998;

	border:.1em solid darken($color-main,10%);

	// box-shadow: .05em 0em .5em 0em lightgrey;

	/*sadly no transition because it would be 
		positioned *again* when a heartbeat happens,
		will be fixed, soon
	*/
	/*
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	*/

	@media all and (max-width: $limit + $sidebar-width*2){
		// border-top-left-radius:0px;
		// border-bottom-left-radius:0px;
		left: 0!important;
		opacity: 1;
		cursor: pointer;
		display:inline-block;
	}
}


.toggle-sidebar{
	display:none;
	cursor: pointer;
	left:0;
	top:1.5em;
	position:fixed;
	height:$toggle-size;
	width:$toggle-size;
	background:$color-main;
	z-index:1000;

	border-radius: 50%;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;

	border:.1em solid darken($color-main,10%);
	
	@media all and(max-width: $limit + $sidebar-width*2){
		display:block;
		left: 0!important;
	}
	
	
	// box-shadow: .05em 0em .5em 0em lightgrey;

	.icon-arrow{
		width:$toggle-size/2;
		height:$toggle-size/2;
		$offset:$toggle-size/4 - .1em;

		margin:$offset 0 0 $offset;
	}
}

.status-badge{
	height:.5em;
	width:.5em;
	display:inline-block;
	margin: .4em .5em 0 0;
	border-radius: 70%;

	// float:left;
	
	opacity: .5;

	&.online,&.on{
		background:#29A100;
	}
	&.idle,&.off{
		background:#FF8200;
	}
}



.fixed-sidebar{
	.logo{
		position:absolute;
		top:1.5em;
		right:1em;
	}
}