$limit:31em;
$limit-extend:40em;

$sidebar-width:17em;

$offset-main:10em;

$blanket-width:22em;

$mobile-view: $limit + $sidebar-width  + 2em;

$color-main:lighten(#2980b9,10%);

$color-main:#E96B56;//red-rosa
$color-main:#EB8A48;//orange-brown
$color-main:#FF7200;//orange
$color-main:#E4582A;//red
$color-main:#59A029;//dark green
$color-main:#6EC633;//green
$color-main:#F78F1E;//orange
$color-main:#FFCC33;//yellow
$color-main:#FFBB00;//yellow



$color-secondary: #444;

$color-border:lightgrey;

$animation-duration:.2s;

$toggle-size:3.33em;

