.welcome-mast{
	color:white;
	background:$color-main;
	color:black;
	text-align:center;
	// font-size: 2em;
	position: relative;
}
	.welcome-mast-cont{
		padding:5em;
		background:url('/images/opentalk_bg_opaque.png');
		background:url('/images/pattern-white.png');
		// background-size: 400px;
		-webkit-animation: welcome-mast-anim 10s infinite linear;
		-moz-animation: welcome-mast-anim 10s infinite linear;
		-o-animation: welcome-mast-anim 10s infinite linear;
		animation: welcome-mast-anim 10s infinite linear;
		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;

		@media all and(max-width:30em){
			padding:5em 3em;
		}

		h1{
			color:#222;
			// text-shadow: 1px 0 0 rgba(255,255,255,.2);
		}
	}
	.logo-welcome{
		display:block;
		margin:1rem auto;
		height:3.75rem;
		width:3.75rem;
		// margin-left:1rem;
	}

#roomid {
	position: relative;
	padding: 1em;
	//font-size: 1.3em;
	//margin: 0 1em;
	text-align: center;
	width:8em;

	outline:none;
	border:0px;
	box-shadow: none;

	font-size: 1.1rem;
	font-family: 'Questrial', sans-serif;
	margin-top: -.3em;
}

.blanket{
	position: relative;
	display:table;
	max-width: $limit;
	padding:1.5em;
	box-shadow: 3px 3px 25px lightgrey;
	margin: 4em auto 4em;
	border-radius: 5px;
	border: 1px solid lightgrey;
	background:url('/images/pattern-black.png');

	@media all and(max-width: $limit){
		margin: 2.5em 1em;
	}
}
.blanket-white{
	@extend .blanket;
	// background:white;
}

.medium-text{
	font-size: 1.3em;
}
.vam{
	vertical-align: middle;
	display:table-cell;
}

$offset-x:-489px;
$offset-y:-312px;
@-webkit-keyframes welcome-mast-anim{
	from { background-position:0 0; }
	to { background-position:0 $offset-y; }
}
@-moz-keyframes welcome-mast-anim{
	from { background-position:0 0; }
	to { background-position:0 $offset-y; }
}
@-ms-keyframes welcome-mast-anim{
	from { background-position:0 0; }
	to { background-position:0 $offset-y; }
}
@-o-keyframes welcome-mast-anim{
	from { background-position:0 0; }
	to { background-position:0 $offset-y; }
}
@keyframes welcome-mast-anim{
	from { background-position:0 0; }
	to { background-position:0 $offset-y; }
}



.features{
	background:white;
	width: 100%;
	float:left; //or overflow:hidden
	padding: 2em;
}
	.features-wrapper{
		max-width: $limit + 10em;
		margin:auto;
	}
		.feature{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;

			font-size: .9rem;
			display:table;
			width: 33.3%;
			background:#F3F3F3;
			padding:2em;
			float:left;
			text-align: center;
			border:1px solid white;
			height:14em;

			@media all and(max-width: $limit){
				width: 50%;
			}
			
			h6{
				font-size: 1.3em;
			}
	
			img{
				width:2em;
				height:2em;
			}
		}