<template name="invite">
	<div class="Modal-Background toggle-Modal is-Hidden" id='invite-modal'>
		<div class="Modal Center-Block share-modal" id="Fixed-Modal">
			<div class="Center-Content">
				<header><h1>Invite people</h1></header>
				<section>
					Simply share this url if you have something to discuss quickly 
					<div style="text-align: center;">
						<span class="share-url">http://opentalk.me/{{room}}</span>
					</div>
					or use these social networks to invite people to join this chat!
					<div style="text-align: center; margin-top: 1em;">
						<a href="http://twitter.com/intent/tweet?text=Chat%20with%20me%20in%20realtime%20on%20&url=http%3A%2F%2Fopentalk.me/{{room}}" class="social-invite twitter" target="_blank"></a>
						<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fopentalk.me/{{room}}" class="social-invite facebook" target="_blank"></a>
						<a href="https://plus.google.com/share?url=http%3A%2F%2Fopentalk.me/{{room}}" class="social-invite google" target="_blank"></a>
					</div>
				</section>
			</div>
		</div>
	</div>
</template>