<template name="invite">
	<div class="Modal-Background toggle-Modal is-Hidden" id='invite-modal'>
		<div class="Modal Center-Block share-modal" id="Fixed-Modal">
			<div class="Center-Content">
				<header><h1>Invite people</h1></header>
				<section>
					Simply share this url if you have something to discuss quickly 
					<div style="text-align: center;">
						<span class="share-url">http://opentalk.me/{{room}}</span>
					</div>
					or use these social networks to invite people to join this chat!
					<div style="text-align: center; margin-top: 1em;">
						<a href="#" class="social-invite twitter"></a>
						<a href="#" class="social-invite github"></a>
						<a href="#" class="social-invite facebook"></a>
						<a href="#" class="social-invite google"></a>
					</div>
				</section>
			</div>
		</div>
	</div>
</template>