<template name="invite">
	<section class="semantic-content" id="invite-modal" tabindex="-1" role="dialog" aria-labelledby="invite-modal" aria-hidden="true">
	    <div class="modal-inner">
	        <header id="modal-label" class='modal-header'>
	        	<h3>Markdown Cheatsheet</h3>
	        </header>
	        <div class="modal-content">
	        	
	        </div>
	    </div>
	    <a href="#" class="modal-close" title="Close" data-close="Close"
	        data-dismiss="modal">×</a>
	</section>
</template>