<template name="profile">

	<div class="profile-mast">
		<div class="profile-mast-cont">
			<a href="/" title='to the homepage' class='go-home-you-are-drunk'>
				<img src="/images/logo_even_dark.png" alt="" class="logo">
			</a>
			<img src="{{avatar}}" alt=""/>
			<br/>
			<p>{{username}}</p>
		</div>
	</div>

	<div class="stats">
		<div class="stats-wrapper">
			<div class="stat">
				<div class="vam">
					{{{userMessagesCount}}}
				</div>
			</div>
		</div>
		<div class="stats-wrapper">
			<div class="stat">
				<div class="vam">
					{{{userRoomsCount}}}
				</div>
			</div>
		</div>
		<div class="stats-wrapper">
			<div class="stat">
				<div class="vam">
					{{{userCharacters}}}
				</div>
			</div>
		</div>
		<div class="stats-wrapper">
			<div class="stat">
				<div class="vam">
					{{{memberSince}}}
				</div>
			</div>
		</div>
	</div>
</template>