<template name="room">
	<div class="toggle-sidebar"><span class="icon-arrow"></span></div>
	{{#isolate}}
		<div class="online-users-count"><span>{{onlineUsersCount}}</span></div>
	{{/isolate}}

	<div class="fixed-sidebar-background"></div>
	<aside class="fixed-sidebar">
		<a href="/" title='to the homepage' class='go-home-you-are-drunk'>
			<img src="/images/logo_even_dark.png" alt="" class="logo">
		</a>
		{{#isolate}}
			{{#if currentUser}}
				<div class="userinfo">
					<img class="user-avatar" src="{{avatar}}"/>
					<span class="user-username">{{username}}</span>

					<a href="/profile" id='userstats' class='button silver' title='view your stats'>profile <span class="icon-profile"></span></a>
				</div>
				
				<div class='buttons-wrapper'>
					<a href="#" id='logout' class='button silver' title='Log out'>Log out</a>
					<a href="#" id='toggleRealtime' class='button silver' title='toggleRealtime'>
						<span class="status-badge {{realtimeEnabled}}"></span> <span class="icon-realtime"></span>
					</a>
				</div>
			{{/if}}
		{{/isolate}}
		{{#isolate}}
			<ul class="online-users">
				{{#if moreThanOneUserOnline}}
					<li class='online-users-heading'>
						{{onlineUsersCount}} online
					</li>
					{{#each onlineUsers}}
						<li class='online-user-wrapper'><span class="status-badge {{status}}"></span><span class='online-user'>{{nickname}}</span></li>
					{{/each}}
				{{else}}
					<li>:( nobody is online right now</li>
				{{/if}}
			</ul>
		{{/isolate}}

		<a href="#mdc-modal" class="markdown-cheatsheet">Markdown Cheatsheet</a>
	</aside>
	<div class="main">

		<div class="loading">One sec, fetching your messages..</div>
		
		{{>messages}}
		
		{{#unless currentUser}}
			{{>loginForm}}
		{{/unless}}
	</div>

	<section class="semantic-content" id="mdc-modal" tabindex="-1" role="dialog" aria-labelledby="mdc-modal" aria-hidden="true">
	    <div class="modal-inner">
	        <header id="modal-label">
	        	<h3>Markdown Cheatsheet</h3>
	        </header>
	        <div class="modal-content">
				<b>OpenTalk</b> supports your nerdy needs. <br/>
				Basic Markdown parsing (in the <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Github fashion</a>), like: <br/>

				<h4>Headings</h4>
				# H1<br/>
				## H2<br/>
				### H3<br/>
				#### H4<br/>
				##### H5<br/>
				###### H6<br/>

				<h4>Emphasis</h4>
				Emphasis, aka italics, with *asterisks* or _underscores_. <br/>
				Strong emphasis, aka bold, with **asterisks** or __underscores__. <br/>
				Combined emphasis with **asterisks and _underscores_**. <br/>
				Strikethrough uses two tildes. ~~Scratch this.~~
				
				<h4>Lists</h4>
				<small>currently only unordered lists are supported</small>
				<br/>
				* Unordered list can use asterisks <br/>
				- Or minuses <br/>
				+ Or pluses <br/>

				<h4>Code</h4>
				Code can be inline or multi-line (PS: shift+enter to create a new line)
				<br>
				Code is introduced <b>and</b> ended with two backticks, like this:
				<br>
				``<br>
				    var s = "JavaScript syntax highlighting"; <br>
				    alert(s); <br>
				``
				<br>
				no syntax highlighting at the momemt, but will be integrated (soon?).
				<br>
				Do you have suggestions or want to contribute? <br>
				That would be <a href="https://github.com/christian-fei/opentalk.me">awesome</a>
	        </div>
	    </div>
	    <a href="#!" class="modal-close" title="Close" data-close="Close"
	        data-dismiss="modal">×</a>
	</section>
</template>
