<template name="room">
	<div class="toggle-sidebar"><span class="icon-arrow"></span></div>
	{{#isolate}}
		<div class="online-users-count"><span>{{onlineUsersCount}}</span></div>
	{{/isolate}}

	<div class="fixed-sidebar-background"></div>
	<aside class="fixed-sidebar">
		<a href="/" title='to the homepage' class='go-home-you-are-drunk'>
			<img src="/images/logo_even_dark.png" alt="" class="logo">
		</a>
		{{#isolate}}
			{{#if currentUser}}
				<div class="userinfo">
					<img class="user-avatar" src="{{avatar}}"/>
					<span class="user-username">{{username}}</span>

					<a href="/profile" id='userstats' class='button silver' title='view your stats'>profile <span class="icon-profile"></span></a>
				</div>
				
				<div class='buttons-wrapper'>
					<a href="#" id='logout' class='button silver' title='Log out'>Log out</a>
					<a href="#" id='toggleRealtime' class='button silver' title='toggleRealtime'>
						<span class="status-badge {{realtimeEnabled}}"></span> <span class="icon-realtime"></span>
					</a>
				</div>
			{{/if}}
		{{/isolate}}
		{{#isolate}}
			<ul class="online-users">
				{{#if moreThanOneUserOnline}}
					<li class='online-users-heading'>
						{{onlineUsersCount}} online
					</li>
				{{else}}
					<li>:( nobody is online right now</li>
				{{/if}}
				{{#constant}}
					<li id="append-online-user-here"></li>
				{{/constant}}
			</ul>
		{{/isolate}}

		<a href="#mdc-modal" class="markdown-cheatsheet">Markdown Cheatsheet</a>
	</aside>
	<div class="main">

		<div class="loading">One sec, fetching your messages..</div>
		
		{{>messages}}
		
		{{#unless currentUser}}
			{{>loginForm}}
		{{/unless}}
	</div>
	{{>markdownCheatsheet}}
</template>
