<template name="welcome">
	<div class="blanket medium-text">
		<span class='vam'>Join the conversation at</span> <span class="vam">{{>selectChatRoom}}</span>
	</div>
	<div class="welcome-mast">
		<div class="welcome-mast-cont">
			<h1>Chat in <b>realtime</b>, for real</h1>
			<img src="/images/logo_even_white.svg" class='logo-welcome'/>
			<h6>No signup required</h6>
			<h6>Simple and uncluttered UI</h6>
			<h6>Markdown support? hell yeah</h6>
			<h6>Uh! I almost forgot: it's <b><a style='color:#222;' href="https://github.com/christian-fei/opentalk.me">opensource</a></b></h6>
		</div>
	</div>
	<div class="features">
		<div class="features-wrapper">
			<div class="feature">
				<div class="vam">
					<img src="/images/realtime.png">
					<h6>Chatting</h6>
					<span>has never been so realtime</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/speech-bubble.png">
					<h6>Markdown</h6>
					<span>if you're into it</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/compass.png">
					<h6>Just</h6>
					<span>some inspirational text</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/search.png">
					<h6>Just</h6>
					<span>some inspirational text</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/unlocked.png">
					<h6>Just</h6>
					<span>some inspirational text</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/mail.png">
					<h6>Just</h6>
					<span>some inspirational text</span>
				</div>
			</div>
		</div>
	</div>
</template>