<template name="welcome">
	<div class="welcome-mast">
		<div class="welcome-mast-cont">
			<h1 style='font-size: 3.5em;'>OpenTalk</h1>
			<h1>The <b>real</b> realtime chat</h1>
			<img src="/images/logo_even_white.svg" class='logo-welcome'/>
			<h6>No signup required</h6>
			<h6>Simple and uncluttered UI</h6>
			<h6>Markdown support? hell yeah</h6>
			<h6>Uh! I almost forgot: it's <b><a style='color:#222;' href="https://github.com/christian-fei/opentalk.me">opensource</a></b></h6>
		</div>
	</div>
	<div class="blanket medium-text">
		<span class='vam'>Join the conversation at</span> <span class="vam">{{>selectChatRoom}}</span>
	</div>
	<div class="features">
		<div class="features-wrapper">
			<div class="feature">
				<div class="vam">
					<img src="/images/realtime.png">
					<h6>Chatting</h6>
					<span>has never been so realtime</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/stats.png">
					<h6><a href="/profile">Stats</a></h6>
					<span>if you wonder how many characters you typed</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/search.png">
					<h6>Interests</h6>
					<span>find interesting chatrooms*</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/unlocked.png">
					<h6>Opensource</h6>
					<span>Would you like to contribute? <a href="https://github.com/christian-fei/opentalk.me">Here you go</a></span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/speech-bubble.png">
					<h6>Markdown</h6>
					<span>if you're into that thing</span>
				</div>
			</div>
			<div class="feature">
				<div class="vam">
					<img src="/images/mail.png">
					<h6>Notifications</h6>
					<span>Never miss a message from your chatrooms*</span>
				</div>
			</div>
		</div>
	</div>
	<aside class="footer">
		+mandatory disclaimer here+
	</aside>
</template>